<div class="footer">
    <div class="container">
        <div class="row flex-column align-items-center">
            <div class="col col-lg-2">
                <a href="index.html"><img src="../assets/images/icon/logo_bottom.svg" alt="logo icon"></a>
                <a href="#" class="bringHome btn px-6 py-3 lh-sm letterSpc-8 d-flex align-items-center bg-lg-secondary fw-medium border-text text-white border-white dropdownBtn" title="Take me home">帶他回家
                    <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="ms-10">
                </a>
            </div>
            <div class="col col-lg-8">
                <ul class="list-group list-unstyled">
                    <li class="list-group-item"><a href="#"></a></li>
                    <li class="list-group-item"><a href="#"></a></li>
                    <li class="list-group-item"><a href="#"></a></li>
                    <li class="list-group-item"><a href="#"></a></li>
                    <li class="list-group-item"><a href="#"></a></li>
                    <li class="list-group-item"><a href="#"></a></li>
                </ul>
                <div class="media"><a href="" class="ig"><img src="" alt=""></a><a href="" class="fb"><img src="" alt=""></a></div>
                <p class="fw-midium">Copyright @2023 Search for Meow All rights reserved.</p>
            </div>
        </div>
    </div>
</div>