<div class="footer pt-19 pt-lg-21 d-flex flex-column align-items-center overflow-hidden">
    <div class="container">
        <div class="row flex-column align-items-center">
            <div class="col col-xl-2 mb-9 d-flex flex-column align-items-center">
                <a href="index.html" class="mb-3 mb-lg-7"><img src="../assets/images/icon/logo_bottom.svg" alt="logo icon"></a>
                <a type="button" href="#" class="bringHome btn px-7 py-3 lh-sm letterSpc-8 position-xl-relative bg-secondary fw-medium border-text border-text dropdownBtn" title="Take me home">帶他回家
                    <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="animateArrow position-xl-absolute">
                </a>
            </div>
            <div class="col col-xl-8 d-flex flex-column position-relative">
                <ul class="list-group list-unstyled d-flex flex-column flex-lg-row align-items-center mb-4">
                    <li class="list-group-item px-2 px-lg-4"><a class="fs-7 text-title fw-medium text-center letterSpc-8" href="#">首頁</a></li>
                    <li class="list-group-item px-2 px-lg-4"><a class="fs-7 text-title fw-medium text-center letterSpc-8" href="#">帶我回家</a></li>
                    <li class="list-group-item px-2 px-lg-4"><a class="fs-7 text-title fw-medium text-center letterSpc-8" href="#">收容所列表</a></li>
                    <li class="list-group-item px-2 px-lg-4"><a class="fs-7 text-title fw-medium text-center letterSpc-8" href="#">響應捐款</a></li>
                    <li class="list-group-item px-2 px-lg-4"><a class="fs-7 text-title fw-medium text-center letterSpc-8" href="#">幸福守則</a></li>
                    <li class="list-group-item px-2 px-lg-4"><a class="fs-7 text-title fw-medium text-center letterSpc-8" href="#">FAQ</a></li>
                </ul>
                <div class="media d-flex align-self-center mb-9">
                    <a target="_blank" href="https://www.instagram.com/" title="instagram" class="ig">
                        <i class="fs-3 text-title fa-brands fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://zh-tw.facebook.com/" title="粉絲團" class="fb ms-4">
                        <i class="fs-3 text-title fa-brands fa-facebook-f ms-4"></i>
                    </a>
                </div>
                <p class="font-SansTC fw-medium text-center text-text letterSpc-8 mb-0">Copyright @2023 Search for Meow All rights reserved.</p>
                <a class="toTop bg-primary d-flex justify-content-center align-items-center rounded-5 position-absolute d-lg-none" type="button" href="#">
                    <i class="fa-solid fa-arrow-up text-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bottomBannerWeb">
        <img src="../assets/images/bg_bottom_mobile.png" alt="cat pic" class="d-sm-none">
        <img src="../assets/images/shelter/bg-bottom.png" alt="cat pic" class="d-none d-sm-block">
    </div>
</div>