<div class="header py-lg-5">
    <div class="container">
        <div class="row justify-content-lg-between">
            <div class="logo col-lg-3">
                <img src="../assets/images/icon/logo_web.svg" alt="logo pic" class="d-none d-lg-block">
                <img src="../assets/images/icon/logo_mobile.svg" alt="logo pic" class="me-3 d-lg-none">
                <img src="../assets/images/icon/logo_mobile_name.svg" alt="logo pic" class="d-lg-none">
            </div>
            <div class="col-lg-7 d-none d-lg-block d-lg-flex flex-lg-column">
                <ul class="list-group list-unstyled d-flex align-items-center mb-lg-5 align-self-end">
                    <li class="list-group-item">
                        <a target="_blank" href="https://www.instagram.com/"><img src="../assets/images/icon/icon_instagrma.svg" alt="instagram icon"></a>
                    </li>
                    <li class="list-group-item">
                        <a target="_blank" href="https://zh-tw.facebook.com/"><img src="../assets/images/icon/icon_facebook.svg" alt="facebook icon" class="mx-5"></a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="bringHome btn px-7 py-3 lh-sm letterSpc-8 d-flex align-items-center text-text bg-secondary fw-medium">帶他回家<img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon"></a>
                    </li>
                </ul>
                <ul class="list-group list-unstyled headerMenu d-flex mb-lg-0">
                    <li class="list-group-item">
                        <a href="#" class="text-title letterSpc-8 fw-medium">
                            搜趣找貓
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-title letterSpc-8 fw-medium">
                            帶我回家
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-title letterSpc-8 fw-medium">
                            收容所列表   
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-title letterSpc-8 fw-medium">
                            響應捐款   
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-title letterSpc-8 fw-medium">
                            幸福守則
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-title letterSpc-8 fw-medium">
                            FAQ    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>