<div class="header py-2 py-lg-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="logo col-lg-3 position-relative">
                <a href="index.html" title="Search For Meow">
                    <img src="../assets/images/icon/logo_web.svg" alt="logo pic" class="d-none d-lg-block w-100">
                </a>
                <a href="../pages/index.html" title="Search For Meow" class="logo-mobile d-lg-none d-flex align-items-center">
                    <img src="../assets/images/icon/logo_mobile.svg" alt="logo pic" class="me-3">
                    <img src="../assets/images/icon/logo_mobile_name.svg" alt="logo pic">
                </a>
                <a href="#" type="button" class="mobileBarbtn bg-primary border border-2 border-title d-lg-none position-absolute">
                    <i class="fa-solid fa-bars d-lg-none fs-6 text-white"></i>
                </a>
            </div>
            <!-- lg -->
            <div class="col-lg-9 col-xxl-7 d-none d-lg-block d-lg-flex flex-lg-column mb-lg-0">
                <ul class="list-group list-unstyled d-flex align-items-lg-center align-self-lg-end mb-lg-4">
                    <li class="list-group-item">
                        <a target="_blank" href="https://www.instagram.com/" title="instagram" class="ig">
                            <i class="fs-2 text-title fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a target="_blank" href="https://zh-tw.facebook.com/" title="粉絲團" class="fb mx-4">
                            <i class="fs-2 text-title fa-brands fa-facebook-f mx-4"></i>
                        </a>
                    </li>
                    <li class="list-group-item ms-auto">
                        <a href="#" class="bringHome btn px-7 py-3 lh-sm letterSpc-8 d-flex align-items-center bg-lg-secondary fw-medium border-text" title="Take me home">帶他回家
                            <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="ms-11">
                        </a>
                    </li>
                </ul>
                <ul class="list-group list-unstyled headerMenu d-flex flex-lg-row mb-lg-0">
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            搜趣找貓
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            帶我回家
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="shelter.html" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            收容所列表   
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="./donate.html" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            響應捐款   
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            幸福守則
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            FAQ    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 375px -->
<div class="headerDropMenu d-lg-none bg-primary py-6 w-100 sticky-top z-2">
    <div class="container d-flex flex-column-reverse">
        <ul class="list-group list-unstyled d-flex mobile mb-0 justify-content-start px-6">
            <li class="list-group-item">
                <a class="d-block" target="_blank" href="https://www.instagram.com/" title="instagram">
                    <i class="fs-2 text-white fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="d-block" target="_blank" href="https://zh-tw.facebook.com/" title="粉絲團">
                    <i class="fs-2 text-white fa-brands fa-facebook-f ms-5"></i>
                </a>
            </li>
            <li class="list-group-item ms-auto">
                <a href="#" type="button" class="bringHome btn px-4 py-3 lh-sm letterSpc-8 d-flex align-items-center fw-medium text-white border-white" title="Take me home">帶他回家
                    <img src="../assets/images/shelter/arrow_white.svg" alt="arrow icon" class="ms-6">
                </a>
            </li>
        </ul>
        <ul class="list-group list-unstyled headerMenu d-flex flex-column flex-row mobile align-items-center px-6">
            <li class="list-group-item w-100">
                <a href="#" class="text-white d-block py-6 ps-10 fs-6 letterSpc-8 fw-medium mx-auto border-bottom">
                    搜趣找貓
                </a>
            </li>
            <li class="list-group-item w-100">
                <a href="#" class="text-white d-block py-6 ps-10 fs-6 letterSpc-8 fw-medium mx-auto border-bottom">
                    帶我回家
                </a>
            </li>
            <li class="list-group-item w-100">
                <a href="shelter.html" class="text-white d-block py-6 ps-10 fs-6 letterSpc-8 fw-medium mx-auto border-bottom">
                    收容所列表   
                </a>
            </li>
            <li class="list-group-item w-100">
                <a href="#" class="text-white d-block py-6 ps-10 fs-6 letterSpc-8 fw-medium mx-auto border-bottom">
                    響應捐款   
                </a>
            </li>
            <li class="list-group-item w-100">
                <a href="#" class="text-white d-block py-6 ps-10 fs-6 letterSpc-8 fw-medium mx-auto border-bottom">
                    幸福守則
                </a>
            </li>
            <li class="list-group-item w-100">
                <a href="#" class="text-white d-block py-6 ps-10 fs-6 letterSpc-8 fw-medium mx-auto border-bottom">
                    FAQ    
                </a>
            </li>
        </ul>
        <a href="#" type="button" class="header-btn-close align-self-end mb-6 me-6">
            <img src="../assets/images/icon/header_btn_close.png" alt="">
        </a>
    </div>
</div>