<div class="header py-lg-5">
    <div class="container">
        <div class="row justify-content-lg-between">
            <div class="logo col-lg-3">
                <a href="index.html" title="Search For Meow">
                    <img src="../assets/images/icon/logo_web.svg" alt="logo pic" class="d-none d-lg-block">
                </a>
                <a href="index.html" title="Search For Meow" class="logo-mobile d-lg-none d-flex align-items-center">
                    <img src="../assets/images/icon/logo_mobile.svg" alt="logo pic" class="me-3 item1">
                    <img src="../assets/images/icon/logo_mobile_name.svg" alt="logo pic" class="item2">
                </a>
            </div>
            <div class="col-lg-9 d-flex flex-column-reverse flex-lg-column bg-primary bg-lg-white">
                <!-- 375px -->
                <ul class="list-group list-unstyled d-flex align-items-lg-center align-self-lg-end d-lg-none mobile">
                    <li class="list-group-item">
                        <a target="_blank" href="https://www.instagram.com/" title="instagram"><img src="../assets/images/icon/ig.png" alt="instagram icon"></a>
                    </li>
                    <li class="list-group-item">
                        <a target="_blank" href="https://zh-tw.facebook.com/" title="粉絲團"><img src="../assets/images/icon/fb.png" alt="facebook icon" class="ms-5"></a>
                    </li>
                    <li class="list-group-item ms-auto">
                        <a href="#" class="bringHome btn px-6 py-3 lh-sm letterSpc-8 d-flex align-items-center bg-lg-secondary fw-medium border-text text-white border-white" title="Take me home">帶他回家
                            <img src="../assets/images/icon/arrow_sm.png" alt="arrow icon" class="ms-6">
                        </a>
                    </li>
                </ul>
                <!-- lg -->
                <ul class="list-group list-unstyled d-flex align-items-lg-center align-self-lg-end d-none d-lg-block">
                    <li class="list-group-item">
                        <a target="_blank" href="https://www.instagram.com/" title="instagram"><img src="../assets/images/icon/icon_instagrma.svg" alt="instagram icon"></a>
                    </li>
                    <li class="list-group-item">
                        <a target="_blank" href="https://zh-tw.facebook.com/" title="粉絲團"><img src="../assets/images/icon/icon_facebook.svg" alt="facebook icon" class="mx-4"></a>
                    </li>
                    <li class="list-group-item ms-auto">
                        <a href="#" class="bringHome btn px-6 py-3 lh-sm letterSpc-8 d-flex align-items-center bg-lg-secondary fw-medium border-text text-white border-white" title="Take me home">帶他回家
                            <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="ms-10">
                        </a>
                    </li>
                </ul>
                <!-- 375px -->
                <ul class="list-group list-unstyled headerMenu d-flex flex-column flex-lg-row mb-lg-0 mobile">
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            搜趣找貓
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            帶我回家
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            收容所列表   
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            響應捐款   
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            幸福守則
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            FAQ    
                        </a>
                    </li>
                </ul>
                <!-- lg -->
                <ul class="list-group list-unstyled headerMenu d-none d-lg-block d-flex flex-column flex-lg-row mb-lg-0">
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            搜趣找貓
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            帶我回家
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            收容所列表   
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            響應捐款   
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            幸福守則
                        </a>
                    </li>
                    <li class="list-group-item px-4">
                        <a href="#" class="text-title lh-sm letterSpc-8 fw-medium text-center mx-auto">
                            FAQ    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>