.header{
  .logo-mobile{
    display: block;
    width: 65.532764%;
  }
  .mobileBarbtn{
    transition: ease 1s;
    padding: 12px 14px;
    right: 12px;
    top: 24px;
  }
  .bringHome{
    border-width: 0 2px 2px 0;
  }
  .headerMenu{
    margin-bottom: 140px !important;
    a:hover{
      background-color: #FAAD7B;
    }
  }
  .dropMenu{
    transition: ease 1s;
    transform: translateY(-820px);
    opacity: 0;
  }
  .dropDown{
    opacity: 1;
    transform: translateY(0px);
    transition: ease 1s;
  }
  .dropUp{
    transform: translateY(-820px);
    opacity: 0;
  }
}
@include lg{
  .header{
    .bringHome{
      color: #4F4E4A !important;
      &:hover{
        background: white !important;
        border-color: $text !important;
        color: $text !important;
      }
    }
    .headerMenu{
      li{
        width: 16.853887%;
      }
      li:nth-child(6){
        width: 15.727882%;
      }
      a{
        display: block;
        padding: 14.5px 0;
        &:hover{
          color: $hover !important;
        }
        &:active{
          border: 2px solid $title;
          color: $title !important;
          padding: 12.5px 0;
        }
      }
    }
  }
}