.adoption-appointedShelter {
  .btn__hover:hover {
    background: $form-bg-color;
  }

  .shelter_sm {

    .swiper-slide-thumb-active img {
      opacity: 1;
    }

    img {
      opacity: 0.6;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .suggest__card {

    .suggest__img {
      height: 250px;
      transition: all .3s ease-in;
    }

    &:hover .suggest__img {
      transform: scale(1.15);
    }
  }

  .pagination{
    .page-link{
      border: 2px solid $text;
      &:hover{
        background-color: $hover !important;
      }
    }

    .pageMark{
      padding: 6px 15.045px;
    }

    .backPage{
      border-width: 0 0 2px 2px;
      padding: 8px 14px 6px 12px;
    }

    .nextPage{
      border-width: 0 2px 2px 0;
      padding: 8px 12px 6px 14px;
    }
  }
  .paginationActive{
    background-color: #fff !important;
  }
}