.adoption-appointedCat {
  .btn__hover:hover {
    background: $form-bg-color;
  }
  
  .cat__item {
    background: #000;

    &:hover .cat__img {
      opacity: 0.5;
    }

    &:hover .fa-solid {
      opacity: 1 !important;
    }
  }

  .cat__img {
    width: 300px;
    height: 300px;
    cursor: pointer;   
  }

  @include md {
    .deco__img {
      bottom: -50px;
      right: 0px;
      width: 158px;
      height: 175px;
    }

    .cat__img {
      width: 244px;
      height: 164px;
    }
  }

  @include lg {
    .deco__img {
      width: 200px;
      height: 217px;
    }

    .medical__deco__left {
      top: 60%;
      right: 75%;
    }

    .medical__deco__right {
      right: -20%;
      bottom: 0;
      width: 206px;
      height: 150px;
    }
  }

  @include xl {
    .medical__deco__right {
      width: 290px;
      height: 177px;
    }
  }

  @include xxl {
    .deco__img {
      bottom: -50px;
      left: 68%;
      width: 315px;
      height: 232px;
    }
  }
}