/* TOC
* CONTENTS............You're reading it!
* BASE................donate頁面內的TAG基礎樣式
* LAYOUT..............共通性樣式
* MAIN................其餘各區塊樣式
*/
/*------------------------------------*\
    $CONTENTS
    參考https://github.com/doggy8088/CSS-Guidelines 的CSS撰寫風格
    LAYOUT前面會有前綴l-*
    為了不影響其他頁面，會包在最外層的.donate中
\*------------------------------------*/

.donate,
.donate__plan {

  // 最後要移除
  // background-color: wheat;
  * {
    // outline: 1px solid red;
  }
  img[alt='']{
    // outline: 10px solid red;
  }

  /*------------------------------------*\
      $BASE
  \*------------------------------------*/
  .font-SpaceMono {
    font-family: "Space Mono";
  }

  .font-SerifTC {
    font-family: "Noto Serif TC";
  }

  // hover用變數
  $primary-200: #F99D61;
  $background-yellow: #FFFAEB;

  .l-bg-background-yellow {
    background-color: $background-yellow;
  }

  .l-letterSpc-16 {
    letter-spacing: 0.16em;
  }

  .l-letterSpc-lg-24 {
    @include lg {
      letter-spacing: 0.24em;
    }
  }

  .l-letterSpc-12 {
    letter-spacing: 0.12em;
  }

  .l-letterSpc-lg-16 {
    @include lg {
      letter-spacing: 0.16em;
    }
  }
  .l-gap-16{
    gap:16px;
  }

  .l-fs-16 {
    font-size: 16px;
  }



  .l-text-nowrap {
    white-space: nowrap;
  }

  .l-cursor-pointer {
    cursor: pointer;
  }

  .l-arrow--animation {
    svg.arrow {
      position: relative;
      left: 0px;
    }

    &:hover {
      svg.arrow {
        animation: arrow 1s linear infinite ;
      }
    }
  }

  @keyframes arrow {
    0% {
      left: -15px;
    }

    100% {
      left: 0px;
    }
  }




  /*------------------------------------*\
      $LAYOUT
  \*------------------------------------*/
  .l-pic-fixed-ratio {
    position: relative;
  }

  .l-pic-fixed-ratio--hoverScale {
    overflow: hidden;
    img {
      transition: transform .3s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .l-pic-fixed-ratio::before {
    content: "";
    display: block;
  }

  .l-pic-fixed-ratio--1to1::before {
    padding-top: 100%;
  }

  .l-pic-fixed-ratio--3to4 {
    padding-top: percentage(3/4);
  }

  .l-pic-fixed-ratio--9to16 {
    padding-top: percentage(9/16);
  }

  .l-pic-fixed-ratio--4to3 {
    padding-top: percentage(4/3);
  }

  .l-pic-fixed-ratio__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    >img {
      max-width: unset;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  img.l-object-fit-center-25 {
    object-position: center 25%;
  }
  img.l-object-fit-70-25{
    object-position: 75% 25%;
  }


  .l-pos--custom__1{
    display: none;
    @include xl{
      display: block;
      right: 95%;
      top:-30%;
      width: 150px;
    }
    @include xxl{
      width: 200px;
      right: 90%;
      top:-50%;
    }
  }
  .l-pos--custom__2{
    // display: none;
    @include xl{
      // display: block;
      left: calc(100% + 20px);
      bottom: 0px;
    }
  }
  .l-pos--custom__3{
    left:-80px;
    top:40px;
  }
  .l-pos--custom__4{
    left:-150px;
    top:-20px;
  }

  .l-modifier-carousel-bg {
    @include lg{
      background-image: url(../images/donate/carousel-bgwithoutcloud.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0px 80%;
    }
  }

  .l-requiredIcon::after {
    display: inline-block;
    content: "*";
    color: red;
    transform: translate(0px, -20%);
  }


  .l-relativePos__1{
    left: -25px;
    bottom: 0px;
  }
  .l-relativePos__2{
    bottom: 16%;
    left: 15%;
    width: 200px;
  }
  .l-relativePos__3{
    width: 400px;
    top: 10%;
    left: 70%;
  }




  /*------------------------------------*\
      $MAIN
  \*------------------------------------*/
  .btn-primary {
    border: 2px solid $inputBdr-dark;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: $primary-200;
      border: 2px solid $inputBdr-dark;
    }
  }
  
  .btn-outline-primary{
    transition: color .2s ease-in-out ,  background-color .2s ease-in-out;
    &:hover{
      background-color:$primary;
      color:white;
    }
  }

  .btn-secondary {
    color: #4f4E4A;
    font-weight: 500;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: $text;

    &:hover {
      color: $text;
      background-color: transparent;
      border-width: 0px 2px 2px 0px;
      border-style: solid;
      border-color: $text;
    }
  }
  
  svg.carousel-btn--previous,svg.carousel-btn--next{
    fill:transparent;
    transition: fill .2s ease-in-out;
    &:hover{
      fill: $secondary;
    }
    
  }

  .purpose__card {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0px;
      left: 50%;
      width: 30px;
      height: 30px;
      background-color: #F0CB9C;
      border: 3px solid #AF7F5A;
      border-radius: 50px;
      transform: translate(-50%, -50%);
    }
  }
  .purpose__card--rotate1{
    transform: translate(0px , -50px) rotate(-3deg);
  }
  .purpose__card--rotate2{
    transform: rotate(2.34deg);
  }
  .purpose__card--rotate3{
    transform: rotate(-0.865deg);
  }



  .choosePlan{
    a.planLinkBtn{
      .l-pic-fixed-ratio{
        overflow: hidden;
      }
      img{
        transition: transform .2s ease-in-out;
      }
      &:hover{
        img{
          @include md{
            transform: scale(1.2);
          }
        }
      }
    }
  }
  
  .faq {
    background: url("../images/donate/QA-bg.jpeg") no-repeat center/cover;
    &__button.accordion-button:not(.collapsed) {
      background: $hover;
      box-shadow: none;
    }

    &__button:focus {
      box-shadow: none !important;
    }

    &__button::after {
      display: none;
    }

    &__bg__left {
      left: 0;
      z-index: -1;
    }

    &__bg__right {
      right: 0;
      z-index: -1;
    }
  }
  @include md{

    .faq {
      &__bg__left {
        width: 198px;
      }

      &__bg__right {
        width: 199px;
      }
    }
  }
  @include xl{
    .faq {
      &__bg__left {
        width: 396px;
      }

      &__bg__right {
        width: 398px;
      }
    }
  }
  .fa-instagram{
    color:#E43B60;
    &:hover{
      color:darken(#E43B60,20%);
    }
  }
  .fa-facebook{
    color: #007AFC;
    &:hover{
      color:darken(#007AFC,10%);
    }
  }
  .fa-twitter{
    color: #009EFC;
    &:hover{
      color:darken(#009EFC,10%);
    }
  }




  // table設定
  tbody tr {
    th:first-child {
      // 第一個th符合
      padding-left: 0px;
    }

    th {
      width: 110px;
    }
  }

  // donate__plan頁面
  .donate__plan__selectPlan {

    // BS5提供的list-group JS切換功能
    a.list-group-item.active {
      background-color: $primary;
      color: white;
    }
  }

  .donate__plan__form {
    a.list-group-item.active {
      background-color: $primary;
      color: white;
    }

    .was-validated {

      .form-check-input:valid,
      .for-check-input.isvalid {
        background-color: rgb(255, 253, 248);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
        border-color: rgba($color: #000000, $alpha: 0.25);

        ~label {
          color: $text;
        }
      }

      .form-check-input:valid:checked,
      .form-check-input.is-valid:checked {
        background-color: $primary;
        border-color: $primary;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      }
    }


    .was-validated {

      .form-check-input:valid,
      .form-check-input.is-valid {
        &l-novalidate {
          border-color: $primary;
        }
      }

      .form-check-input:checked:valid {
        &l-novalidate {
          background-color: $primary;
        }
      }
    }
  }
}