// 第一部分
.hr__01mainimg{
    width: 332px;
    height: auto;
    @include md{
        width: 700px;
    }
}

.hr__02footimg{
    position: absolute;
    width: 152px;
    height: auto;
    left: 70%;
}

// 第二部分
.hr__mouse{
    position: absolute;
    width: 75px;
    height: auto;
    left: 75%;
    top: -20%;
}
// 第三部分 part.3
.hr_dangerCat{
    object-fit: cover;
    max-width: 100%;
    height: 75px;
}
.hr__dangerimg{
    max-width: 210px;
    top: -5%;
    left: 20%;
    @include sm{
      max-width: 220px;
      top: -5%;
      left: 28.5%;
    }
    @include md{
      max-width: 200px;
      top: 17%;
      left: 6.5%;
    }
    @include lg{
      max-width: 240px;
      top: 18.5%;
      left: 7%;
    }
    @include xl {
      max-width: 255px;
      top: 18.5%;
      left: 5%;
    }
    @include xxl {
      max-width: 260px;
      top: 18%;
      left: 1%;
    }
}
.hr_dangerContent{
  width: 90%;
  height: 80%;
    @include sm{
      width: 68%;
      height: 80%;
    }
    @include md{
      width: 78%;
      height: 100%;
    }
    @include lg{
      width: 80%;
    }
    @include xl{
      width: 83%;
    }
    @include xxl{
      width: 88%;
    }
}
// 第三部分
.hr__dangerSwiper {//自定義swiper寬度 有線調這個
    width: 80%;
    height: 500px !important;

    @include md {
        //768
        width: 95%;//750px
        height: 300px !important;
    }

    @include lg {
        //992
        width: 100%;//900px
        height: 400px !important;
    }

    @include xl {
        //1200
        width: 87.5%;//1050px
        height: 420px !important;
    }

}

//swiper 滾輪樣式更改
.hr__dangerswiper-pagination{
    position: absolute;
    right: 20px;
    width: 35px !important;
    text-align: center;
    left: auto !important;
    top: 0%;
    bottom: auto !important;
    transform: translateY(-40%);
    z-index: 20;
    height: 100px;
    @include lg{
        width: 40px !important;
    }
    @include xl {
        width: 40px !important;
        top: -16%;
    }
    // 
}
.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all .3s;

    &-active {
        opacity: 1;
        background: $primary;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
    }
}

//第四部分修改
//背景圖片
.hr__5-4bg{
  background-image: url(../images/happyRulesImages/part4/p5-4_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
// 箭頭
.hr__arrow{
  max-width: 60px;
  height: auto;
}
//title
.hr_title-1{
  background-image: url(../images/happyRulesImages/part4/p5-4_young-bg.svg);
  background-repeat: no-repeat;
  height: auto;
  width: 130px;
}
.hr_title-2{
  background-image: url(../images/happyRulesImages/part4/p5-4_junior-bg.svg);
  background-repeat: no-repeat;
  width: 160px;
  height: auto;
}
.hr_title-3{
  background-image: url(../images/happyRulesImages/part4/p5-4_senior-bg.svg);
  background-repeat: no-repeat;
  width: 140px;
  height: auto;
}
.hr_title-4{
  background-image: url(../images/happyRulesImages/part4/p5-4_old-bg.svg);
    background-repeat: no-repeat;
    width: 160px;
    height: auto;
}
.hr__titlebg3 {
  max-width: 139px;
  height: auto;
}
.hr__titlebg4 {
  max-width: 159px;
  height: auto;
}
// 貓貓照片
.hr__cat01{
  max-width: 809px;
  height: auto;
}
.hr__cat02 {
  max-width: 468px;
  height: auto;
}
.hr__cat02-1 {
  max-width: 375px;
}
.hr__cat03-1{
  max-width: 375px;
}
.hr__cat03 {
  max-width: 550px;
  height: auto;
  overflow: hidden;
  top: -10%;
  @include md {
    max-width: 600px;
    top: 0%;
    left: 16%;
  }
  @include lg{
    max-width: 700px;
    left: 16%;
  }
  @include xl{
    max-width: 801px;
    left: 30%;
  }
}
.hr__cat04 {
  max-width: 460px;
  height: auto;
  @include md {
      max-width: 460px;
      left: 16%;
    }
  @include lg {
    max-width: 502px;
    left: 16%;
  }
}
.hr__cat04-1 {
  max-width: 375px;
  object-fit: cover;
}

// 第四部分
.hr__item01{
    margin-left: -30px;
}
.hr__item01::after {
    content: "";
    height: 16px;
    width: 16px;
    height: 16px;
    background-color: $text;
    border-radius: 99%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 8.8%;
    left: 50%;
    z-index: 1;
}
.hr__item01::before{
    content: "";
        height: 1px;
        width: 2px;
        height: 320px;
        background-color: $text;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 22%;
        left: 50%;
        z-index: 1;
}

.hr__item02::after {
    content: "";
    height: 16px;
    width: 16px;
    height: 16px;
    background-color: $text;
    border-radius: 99%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 34.2%;
    left: 50%;
    z-index: 1;
}

.hr__item02::before {
    content: "";
    height: 1px;
    width: 2px;
    height: 320px;
    background-color: $text;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    z-index: 1;
}

.hr__item03::after {
    content: "";
    height: 16px;
    width: 16px;
    height: 16px;
    background-color: $text;
    border-radius: 99%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59.5%;
    left: 50%;
    z-index: 1;
}

.hr__item03::before {
    content: "";
    height: 1px;
    width: 2px;
    height: 320px;
    background-color: $text;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 72%;
    left: 50%;
    z-index: 1;
}

.hr__item04img{
    margin-right: -30px;
}

.hr__item04::after {
    content: "";
    height: 16px;
    width: 16px;
    height: 16px;
    background-color:$text;
    border-radius: 99%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 84.3%;
    left: 50%;
    z-index: 1;
}

.hr__item04::before {
    content: "";
    height: 1px;
    width: 2px;
    height: 210px;
    background-color:$text;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 93%;
    left: 50%;
    z-index: 1;
}

//第四部分插圖
.hr__cat-teaser{
    position: absolute;
        width: 165px;
        top:-120px;
        left: 200px;
}
.hr__cat-toy{
    position: absolute;
        width: 247px;
        top: -70px;
        left: -260px;
        transform: rotate(85deg);
}
.hr__cat-toyball{
    position: absolute;
        width: 92px;
        top: -110px;
        left: 300px;
}
.hr__sleepycat{
    position: absolute;
        width: 243px;
        top:  90px;
        left: -170px;
}

//  按鈕
.hr__linkbtn{
    color: white;
    background-color: $primary;
    &:hover{
        background: #F99D61;
        color: white;
    }
}

// 第四部份手機版裝飾插圖
.hr__dash01{
    position: absolute;
    width: 73px;
    height: 43px;
    top: 50%;
    left: 0%;
}
.hr__dash02 {
    position: absolute;
    width: 101px;
    height: 43px;
    top: -10%;
    left: 70%;
}
.hr__dash03 {
    position: absolute;
    width: 101px;
    height: 43px;
    top: -10%;
    left: 70%;
}
.hr__dash04 {
    position: absolute;
    width: 101px;
    height: 43px;
    top: 55%;
    left: 5%;
}
.hr__dash05 {
    position: absolute;
    width: 70px;
    height: 53px;
    top: 60%;
    left: 5%;
}
.hr__dash07 {
    position: absolute;
    width: 150px;
    height: 70px;
    top: -5%;
    left: 60%;
}
.hr__dash08 {
    position: absolute;
    width: 161px;
    height: 63px;
    top: 45%;
    left: 55%;
}
