.home {
  .about__bg {
    top: 100%;
    left: 20px;
    transform: translateY(-50%);
    z-index: -1;
  }

  .btn__hover:hover {
    background: $form-bg-color;
  }

  .search__heart {
    top: 16px;
    right: 16px;
  }

  .search__bg__top {
    top: -50%;
    right: 0;
    transform: translateY(50%);
    z-index: -1;
  }

  .search__bg__center {
    top: 50%;
    left: 0;
    transform: translateY(-50);
    z-index: -1;
  }

  .search__bg__bottom {
    bottom: 0;
  }


}

@include md {
  .home {
    .banner__text {
      position: relative;

      &:first-of-type::after, &:last-of-type::after {
        position: absolute;
        top: 50%;
        content: "";
        height: 1px;
        background: $tertiary;
      }

      &:first-of-type::after { 
        right: 0;
        width: 59%;
      }

      &:last-of-type::after {
        left: 0;
        width: 27%;
      }
    }
  }
}

@include lg {
  .home {
    .banner__text {
      &:first-of-type::after { 
        width: 50%;
      }

      &:last-of-type::after {
        width: 12%;
      }
    }
  }
}

@include xl {
  .home {
    .banner__text {
      &:first-of-type::after { 
        width: 59%;
      }

      &:last-of-type::after {
        width: 27%;
      }
    }
  }
}
