.shelter{
    img{
        object-fit: cover;
    }
    a{
        display: block;
    }
    .btn-secondary{
        border-color: #624E40;
        border-width: 0 2px 2px 0;
    }
    h1{
        font-family: "Noto Serif TC";
        span{
            font-family: "Space Mono";
        }
    }
    form{
        img{
            width: 270px;
            height: 264px;
            top: -55px;
            left: 20px;
        }
        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $placeholder;
            opacity: 1; /* Firefox */
        }

        input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $placeholder;
        }

        .form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: $placeholder;
        }
    }
    .indexPic{
        height: 180px;
    }
    .sleepCat{
        width: 358px;
        height: 310px;
    }
    .col-10:nth-child(1){
        .indexPic{
            background: url(../images/shelter/1/1.png) center center no-repeat;
            background-size: cover;
        }
    }
    .col-10:nth-child(2){
        .indexPic{
            background: url(../images/shelter/2/1.png) center center no-repeat;
            background-size: cover;
        }
    }
    .col-10:nth-child(3){
        .indexPic{
            background: url(../images/shelter/3/1.png) center center no-repeat;
            background-size: cover;
        }
    }
    .col-10:nth-child(4){
        .indexPic{
            background: url(../images/shelter/4/1.png) center center no-repeat;
            background-size: cover;
        }
    }
    .col-10:nth-child(5){
        .indexPic{
            background: url(../images/shelter/5/1.png) center center no-repeat;
            background-size: cover;
        }
    }
    .col-10:nth-child(6){
        .indexPic{
            background: url(../images/shelter/6/1.png) center center no-repeat;
            background-size: cover;
        }
    }
    .dropBtn{
        background-color: #fff;
    }
    .expand_more{
        font-size: 26px;
        transition: all 0.5s;
    }
    .dropdown-menu{
        transition: all 0.3s;
        a:hover{
            background-color: #FFEBDD;
        }
    }
    .active{
        transform: rotate(180deg);
    }
    .card,.card-footer{
        background-color: #FFFAEB;
    }
    .arrowBtn{
        width: 24px;
        height: 24px;
    }
    .favor{
        transition: ease 0.2s;

        &:hover{
            cursor: pointer;
        }
    }
    .addFavor{
        color: $primary;
        font-variation-settings: 'FILL' 1,;
    }
    .zoom{
        font-size: 32px;
    }
    .modal-body{
        img{
            width: 60px;
            height: 40px;
        }
        .mainPic{
            height: 150px;
        }
        .d-flex{
            img:hover{
                cursor: pointer;
            }
        }
        .btn-secondary{
            border-width: 1px;
        }
        .blackArrowRight{
            width: 24px;
            height: 24px;
        }
    }
    .pagination{
        .page-link{
            border: 2px solid $text;
            &:hover{
                background-color: $hover !important;
            }
        }
        .pageMark{
            padding: 6px 15.045px;
        }
        .backPage{
            border-width: 0 0 2px 2px;
            padding: 8px 14px 6px 12px;
        }
        .nextPage{
            border-width: 0 2px 2px 0;
            padding: 8px 12px 6px 14px;
        }
    }
    .paginationActive{
        background-color: #fff !important;
    }
}
@include sm{
    .shelter{
        .indexPic{
            height: 280px;
        }
        form{
            img{
                top: -55px;
                left: 20px;
            }
        }
        .modal-body{
            img{
                width: 90px;
                height: 60px;
            }
        }
    }
}
@include md{
    .shelter{
        padding-bottom: 100px;
        .catTop{
            top: 90px;
            left: 0px;
        }
        .catMiddle{
            top: 580px;
            right: -280px;  
        }
        .catBottom{
            top: 1680px;
            left: -100px;
        }
        .shelterIcon{
            padding-top: 4.8px;
        }
        form{
            img{
                top: -45px;
                left: 20px;
            }
        }
        .indexPic{
            height: 220px;
        }
    }
}
@include lg{
    .shelter{
        padding-bottom: 100px;
        .catTop{
            top: 55px;
            left: -80px;
        }
        .catMiddle{
            top: 550px;
            right: -280px;  
        }
        .catBottom{
            top: 1900px;
            left: -20px;
        }
        .btn-primary:hover{
            background-color: #F99D61 !important;
        }
        .btn-secondary:hover{
            background-color: transparent !important;
        }
        .indexPic{
            height: 300px;
            transition: ease 0.5s;
        }
        .col-xl-4:hover{
            .indexPic{
                background-blend-mode: darken;
                background-color: rgba($color: $title, $alpha: 0.7);
            }
        }
        .col-xl-4:nth-child(1):hover{
            .indexPic{
                background-blend-mode: darken;
                background-color: rgba($color: $text, $alpha: 0.7);
            }
        }
        .col-xl-4:nth-child(2):hover{
            .indexPic{
                background-color: rgba($color: $primary, $alpha: 0.7);
            }
        }
        .col-xl-4:nth-child(3):hover{
            .indexPic{
                background-color: rgba($color: $secondary, $alpha: 0.7);
            }
        }
        .col-xl-4:nth-child(4):hover{
            .indexPic{
                background-color: rgba($color: $text, $alpha: 0.7);
            }
        }
        .modal-body{
            img{
                width: 75px;
                height: 55px;
            }
            .mainPic{
                height: 170px;
            }
        }
        .card-footer{
            .btn-secondary{
                width: 56.282723% !important;
            }
        }
    }
}
@include xl{
    .shelter{
        .catTop{
            top: 75px;
            left: -80px;
        }
        .catMiddle{
            top: 500px;
            right: -280px;  
        }
        .catBottom{
            top: 1200px;
            left: 50px;
        }
        .indexPic{
            height: 230px;
        }
        .modal-body{
            img{
                width: 110px;
                height: 70px;
            }
            .mainPic{
                height: 300px;
            }
        }
    }
}