.shelter{
    .btn-primary:hover{
        background-color: $primary !important;
    }
    .btn-secondary{
        border-color: #624E40;
        border-width: 0 2px 2px 0;
    }
    h1{
        font-family: "Noto Serif TC";
        span{
            font-family: "Space Mono";
        }
    }
    img{
        display: block !important;
        object-fit: cover;
        height: 250px;
    }
    a{
        display: block;
    }
    .test{
        height: 250px;
        background: url(../images/shelter/1/1.png) center center no-repeat $primary;
        background-size: cover;
    }
    .card-img-top{
        //background-color: #000;
    }
    .dropBtn{
        background-color: #fff;
    }
    .material-symbols-outlined{
        font-size: 26px;
        transition: all 0.5s;
    }
    .dropdown-menu{
        transition: all 0.3s;
        a:hover{
            background-color: #FFEBDD;
        }
    }
    .active{
        transform: rotate(180deg);
    }
    .card-body{
        background-color: #FFFAEB;
    }
    .arrowBtn{
        width: 24px;
        height: 24px;
    }
    .favor:hover{
        cursor: pointer;
    }
    .addFavor{
        color: $primary;
        font-variation-settings: 'FILL' 1,;
    }
    .modal-body{
        img{
            width: 75px;
            height: 60px;
        }
        .mainPic{
            height: 200px;
        }
        .d-flex{
            img:hover{
                cursor: pointer;
            }
        }
    }
    .page-link:hover{
        background-color: $secondary;
    }
}
@include sm{
    .shelter{
        img,.test{
            height: 345px;
        }
        .modal-body{
            img{
                width: 110px;
                height: 100px;
            }
        }
    }
}
@include md{
    .shelter{
        img,.test{
            height: 296px;
        }
    }
}
@include lg{
    .shelter{
        img,.test{
            height: 308px;
        }
        .btn-primary:hover{
            background-color: #F99D61 !important;
        }
        .btn-secondary:hover{
            background-color: #fff;
        }
        .modal-body{
            img{
                width: 95px;
                height: 90px;
            }
            .mainPic{
                height: 300px;
            }
        }
    }
}
@include xl{
    .shelter{
        img{
            height: 265px;
        }
        .test{
            height: 265px;
            background-blend-mode: darken;
            transition: ease 0.5s;
            &:hover{
                background-color: rgba($color: $primary, $alpha: 0.2);
            }
        }
        .dropdown,.keyWord{
            width: 75%;
        }
        .dropdown,.keyWord{
            width: 70%;
        }
        .modal-body{
            img{
                width: 130px;
                height: 110px;
            }
            .mainPic{
                height: 300px;
            }
        }
    }
}
@include xxl{
    .shelter{
        img,.test{
            height: 295px;
        }
    }
}