.object-fit-cover{
    object-fit: cover;
}
.swiper{
    //width: 100%;
    height: 300px;
    .mainPic{
        width: 200px;
        height: 200px;
        left: 65px;
        top: -100px;
        z-index: 1;
    }
    .minorPic{
      width: 260px;
      height: 130px;
    }
    .fadeContent{
      width: 100%;
    }
    .fakeMainPic,.fakeFadeContent{
        position: relative;
    }
    .fakeFadeContent{
        background-color: $body-bg;
        left: -200px;
    }
}
.swiper-scrollbar{
    background-color: #000;
}
.swiper-scrollbar-drag{
    background-color: white,
}
@include sm{
    .swiper{
        .mainPic{
            left: 156px;
            top: -100px;
        }
    }
}
@include md{
    .swiper{
        //width: 65%;
        .mainPic{
            left: -100px;
            top: 48px;
        }
        .minorPic{
            width: 260px;
            height: 130px;
        }
        .fadeContent{
            width: 75%;
        }
        .fakeFadeContent{
            left: -88px;
        }
    }
}
@include lg{
    .swiper{
        //width: 65%;
        height: 400px;
        .fadeContent{
            width: 70%;
        }
        .mainPic{
            width: 320px;
            height: 320px;
            left: -160px;
            top: 38px;
        }
        .minorPic{
            width: 320px;
            height: 160px;
        }
        .fakeFadeContent{
            left: -139px;
        }
    }
}
@include xl{
    .swiper{
        //width: 70%;
        .fakeFadeContent{
            left: -106px;
        }
    }
}
@include xxl{
    .swiper{
        width: 100%;
        .fadeContent{
            width: 80%;
        }
        .fakeFadeContent{
            left: -127px;
        }
    }
}
