<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>搜趣找貓-提供各地收容所、貓咪資料以及認養服務的貓咪專屬平台</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 指定貓咪內容 -->
    <main class="adoption-appointedCat mt-9 mt-md-13">

      <!-- 貓咪資訊 -->
      <section class="container mb-19 mb-lg-21">
        <div class="col-xl-11 col-xxl-8 mx-auto">
          <div class="row gy-7 gx-xl-11 flex-column-reverse flex-md-row mb-17">
            <div class="col-md-6">
              <div class="d-flex justify-content-between align-items-center mb-6">
                <h1 class="mb-0 fs-2 fw-bold lh-sm letterSpc-8 font-SerifTC text-title">領養柑橘</h1>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-primary fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-primary">冬天小棉襖</span>
              </div>
              <p class="mb-9 letterSpc-8">害羞的柑橘就像冬天的小棉襖，總是躲在角落裡，擁有著溫暖的個性和迷人的圓圓大眼睛。</p>
              <ul class="d-flex flex-wrap gap-4 mb-0 list-unstyled">
                <li class="d-flex align-items-center gap-2">
                  <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                  <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">女孩</p>
                </li>
                <li class="d-flex align-items-center gap-2">
                  <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                  <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">成貓</p>
                </li>
                <li class="d-flex align-items-center gap-2">
                  <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                  <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">橘貓</p>
                </li>
                <li class="d-flex align-items-center gap-2">
                  <i class="fa-solid fa-circle-check" style="font-size:30px; color: #3DC787;"></i>
                  <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">已絕育</p>
                </li>
              </ul>
            </div>
            <div class="col-md-6 position-relative text-center">
              <img src="../assets/images/adoption-appointedCat/picture_1.png" class="img-fluid rounded-pill" alt="">
              <img src="../assets/images/adoption-appointedCat/decoration_1.png" class="deco__img position-absolute d-none d-md-block" alt="">
            </div>
          </div>
          <ul class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-7 list-unstyled">
            <li class="cat__item">
              <div class="position-relative" data-bs-toggle="modal" data-bs-target="#picture2">
                <img src="../assets/images/adoption-appointedCat/picture_2.jpg" class="cat__img img-fluid object-fit-cover" alt="">
                <i class="fa-solid fa-magnifying-glass-plus position-absolute top-50 start-50 translate-middle fs-2 text-white opacity-0" style="cursor: pointer;"></i>
              </div>
              <div class="modal fade" id="picture2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content position-relative">
                    <img src="../assets/images/adoption-appointedCat/picture_2.jpg" class="img-fluid" alt="">
                    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 16px; right: 16px;"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="cat__item">
              <div class="position-relative" data-bs-toggle="modal" data-bs-target="#picture3">
                <img src="../assets/images/adoption-appointedCat/picture_3.jpg" class="cat__img img-fluid object-fit-cover" alt="">
                <i class="fa-solid fa-magnifying-glass-plus position-absolute top-50 start-50 translate-middle fs-2 text-white opacity-0" style="cursor: pointer;"></i>
              </div>
              <div class="modal fade" id="picture3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content position-relative">
                    <img src="../assets/images/adoption-appointedCat/picture_3.jpg" class="img-fluid" alt="">
                    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 16px; right: 16px;"></button>
                  </div>
                </div>
              </div>
            </li>
            <li class="cat__item">
              <div class="position-relative" data-bs-toggle="modal" data-bs-target="#picture4">
                <img src="../assets/images/adoption-appointedCat/picture_4.jpg" class="cat__img img-fluid object-fit-cover" alt="">
                <i class="fa-solid fa-magnifying-glass-plus position-absolute top-50 start-50 translate-middle fs-2 text-white opacity-0" style="cursor: pointer;"></i>
              </div>
              <div class="modal fade" id="picture4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content position-relative">
                    <img src="../assets/images/adoption-appointedCat/picture_4.jpg" class="img-fluid" alt="">
                    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 16px; right: 16px;"></button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- 貓咪特色 -->
      <section class="container mb-19 mb-lg-21">
        <div class="col-8 col-md-auto col-xl-9 mx-auto">
          <div class="text-center mb-13">
            <h2 class="fs-5 fs-md-3 fw-bold lh-sm letterSpc-8 font-SerifTC text-title">性格特色</h2>
            <h3 class="mb-0 fs-5 fs-md-4 lh-sm letterSpc-8 text-primary">Characteristics</h3>
          </div>
          <ul class="row row-cols-1 row-cols-md-3 gy-7 list-unstyled">
            <li class="col">
              <div class="text-center h-100">
                <img src="../assets/images/adoption-appointedCat/kitty.png" class="img-fluid mb-4" style="width: 124px; height: 124px;" alt="">
                <div>
                  <h4 class="fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">活動力</h4>
                  <p class="mb-0 fw-medium letterSpc-8">活動力偏低，能趴著就不動，但聞到零食還是會湊過來。</p>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="text-center h-100">
                <img src="../assets/images/adoption-appointedCat/kitty_2.png" class="img-fluid mb-4" style=" width: 124px; height: 124px;"  alt="">
                <div>
                  <h4 class="fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">外向程度</h4>
                  <p class="mb-0 fw-medium letterSpc-8">給人溫柔害羞的感覺，但接觸時讓人心裡暖暖的。</p>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="text-center h-100">
                <img src="../assets/images/adoption-appointedCat/kitty_3.png" class="img-fluid mb-4" style="width: 124px; height: 124px;" alt="">
                <div>
                  <h4 class="fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">適應力</h4>
                  <p class="mb-0 fw-medium letterSpc-8">適應力待增強，需要主人耐心等候。</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- 貓咪醫療史 -->
      <section style="background-color: #FFFAEB;">
        <div class="container py-14">
          <div class="col-12 col-lg-8 mx-auto">
            <div class="text-center mb-13">
              <h2 class="fs-5 fs-md-3 fw-bold lh-sm letterSpc-8 font-SerifTC text-title">醫療史</h2>
              <h3 class="mb-0 fs-5 fs-md-4 lh-sm letterSpc-8 text-primary">Characteristics</h3>
            </div>
            <div class="position-relative">
              <img src="../assets/images/adoption-appointedCat/decoration_1.png" class="medical__deco__left position-absolute d-none d-lg-block" alt="">
              <img src="../assets/images/adoption-appointedCat/decoration_2.png" class="medical__deco__right position-absolute d-none d-lg-block" alt="">
              <div class="row row-cols-1 row-cols-md-2 gy-4">
                <div class="col">
                  <img src="../assets/images/adoption-appointedCat/picture_5.png" class="img-fluid rounded-1 w-100 h-100 object-fit-cover" alt="">
                </div>
                <div class="col">
                  <div class="d-flex flex-column px-2 py-4 h-100">
                    <div class="d-flex gap-2 mb-9">
                      <i class="fa-solid fa-notes-medical" style="font-size: 26px; color: #3DC787;"></i>
                      <p class="mb-0 text-text letterSpc-8">柑橘非常健康，是一隻可愛的小橘貓。<br> 已經接受過基本的醫療檢查和絕育囉！</p>
                    </div>
                    <ul class="row gy-2 list-unstyled text-text letterSpc-8">
                      <li class="col-auto d-flex align-items-center gap-2">
                        <i class="fa-solid fa-circle-check" style="font-size: 26px; color: #3DC787;"></i>
                        結紮
                      </li>
                      <li class="col-8 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-circle-check" style="font-size: 26px; color: #3DC787;"></i>
                        疫苗
                      </li>
                      <li class="col-auto d-flex align-items-center gap-2">
                        <i class="fa-solid fa-circle-check" style="font-size: 26px; color: #3DC787;"></i>
                        晶片
                      </li>
                      <li class="col-auto d-flex align-items-center gap-2">
                        <i class="fa-solid fa-circle-check" style="font-size: 26px; color: #3DC787;"></i>
                        定期驅蟲
                      </li>
                    </ul>
                    <div class="mt-auto me-auto">
                      <a href="./adoptionSheet-basicInf.html" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                        <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">我想領養</span>
                        <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  </body>
</html>