<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- customer -->
  <title>響應捐款</title>
  <meta name="description" content="搜趣找貓 search for meow donate">
  <meta name="keywords" content="搜趣找貓,search,meow,cat,adopt,donate">
  <meta property="og:title" content="搜趣找貓 search for meow">
  <meta property="og:description" content="搜趣找貓 search for meow">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pinyiw0.github.io/project_SearchforMeow/">
  <meta property="og:image" content="https://i.imgur.com/9lYfi0l.png">
  <link rel="apple-touch-icon" href="../assets/images/logo-32px.png">
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="donate mt-7 mt-lg-13">
      <!-- 我想幫助 & donate頁面上方輪播區 -->
      <section class="banner mb-11 mb-md-16">
        <div class="container">
          <div class="col-12 d-flex justify-content-center align-items-center mb-6 mb-lg-13">
            <span class="material-symbols-outlined heartIcon fs-4 fs-lg-2 text-primary fw-medium me-1 me-lg-2">
              volunteer_activism
            </span>
            <h1 class="mb-0 fs-4 fs-lg-2 fw-bold lh-sm letterSpc-8 font-SerifTC text-tertiary">
              響應捐款
              <!-- <br> -->
              <!-- <span class="fs-5 text-primary letterSpc-8 fw-normal">Give Them Love</span> -->
            </h1>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 order-1 order-md-0">
              <div class="h-100 d-flex flex-column align-items-stretch justify-content-between">
                <div>
                  <h2 class="mb-1 fs-3 fs-lg-2">我想幫助...</h2>
                  <p class="mb-4 fs-7">錢錢沒有變不見！而是變成貓咪的家！</p>
                </div>
                <a href="./donate__plan.html" class="btn btn-primary w-100">我決定+1了！</a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <!-- wireframe設計的部分 -->
              <!-- <div class="fs-5 d-block d-md-none text-center mb-1"><i
                  class="fa-solid fa-hand-holding-dollar align-top lh-base">響應捐獻</i></div> -->
              <!-- carousel -->
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="l-pic-fixed-ratio l-pic-fixed-ratio--9to16">
                      <div class="l-pic-fixed-ratio__content">
                        <img src="../assets/images/donate/banner__carousel__pic1.jpg" class="d-block w-100"
                          alt="可愛米克斯照片1">
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="l-pic-fixed-ratio l-pic-fixed-ratio--9to16">
                      <div class="l-pic-fixed-ratio__content">
                        <img src="../assets/images/donate/banner__carousel__pic2.jpg" class="d-block w-100"
                          alt="可愛米克斯照片2">
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="l-pic-fixed-ratio l-pic-fixed-ratio--9to16">
                      <div class="l-pic-fixed-ratio__content">
                        <img src="../assets/images/donate/banner__carousel__pic3.jpg" class="d-block w-100"
                          alt="可愛米克斯照片3">
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="purpose mb-11 mb-md-16">
        <div class="container">
          <h2 class="fs-4 fs-lg-2 text-title fw-bold letterSpc-8 text-center fs-md-2 mb-6 mb-lg-13 font-SerifTC">善款會用於
          </h2>
          <div class="row">
            <div class="col-12 col-md-4 mb-7 mb-md-0">
              <div class="card border-inputBdr-dark border-2 p-4 h-100 l-bg-background-yellow">
                <div class="l-pic-fixed-ratio l-pic-fixed-ratio--1to1 l-pic-fixed-ratio--hoverScale">
                  <div class="l-pic-fixed-ratio__content">
                    <img src="../assets/images/donate/purpose__card__pic1.jpg" class="card-img-top"
                      alt="貓咪在溫暖的家凝視著窗外的圖片">
                  </div>
                </div>
                <div class="card-body p-0 mt-8">
                  <h3 class="mb-4 text-center fs-5 fs-md-4 fs-xl-3 text-title">幫浪貓找家</h3>
                  <p class="mb-0 fs-6 fs-xl-5">建立完善系統，幫助浪貓找到愛心家庭，並積極辦理貓咪送養會。</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-7 mb-md-0">
              <div class="card border-inputBdr-dark border-2 p-4 h-100 l-bg-background-yellow">
                <div class="l-pic-fixed-ratio l-pic-fixed-ratio--1to1 l-pic-fixed-ratio--hoverScale">
                  <div class="l-pic-fixed-ratio__content">
                    <img src="../assets/images/donate/purpose__card__pic2.jpg" class="l-object-fit-center-25"
                      alt="貓咪在溫暖的家凝視著窗外的圖片">
                  </div>
                </div>
                <div class="card-body p-0 mt-8">
                  <h3 class="mb-4 text-center fs-5 fs-md-4 fs-xl-3 text-title">為浪貓結紮</h3>
                  <p class="mb-0 fs-6 fs-xl-5">幫助浪貓結紮，減少浪貓數量。</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card border-inputBdr-dark border-2 p-4  h-100 l-bg-background-yellow">
                <div class="l-pic-fixed-ratio l-pic-fixed-ratio--1to1 l-pic-fixed-ratio--hoverScale">
                  <div class="l-pic-fixed-ratio__content">
                    <img src="../assets/images/donate/purpose__card__pic3.jpg" class="card-img-top"
                      alt="貓咪在溫暖的家凝視著窗外的圖片">
                  </div>
                </div>
                <div class="card-body p-0 mt-8">
                  <h3 class="mb-4 text-center fs-5 fs-md-4 fs-xl-3 text-title">提供醫療救助</h3>
                  <p class="mb-0 fs-6 fs-xl-5">提供生病或受傷的浪貓們營養品及救助醫療所衍生的相關費用。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="choosePlan mb-11 mb-md-16">
        <div class="container">
          <h2 class="fs-4 text-title fw-bold letterSpc-8 text-center fs-md-2 mb-6 mb-lg-13 font-SerifTC">我決定＋1了！</h2>
          <div class="row">
            <div class="col-12 col-md-9">
              <div class="l-pic-fixed-ratio l-pic-fixed-ratio--9to16">
                <div class="l-pic-fixed-ratio__content">
                  <img src="../assets/images/donate/choosePlan.jpg" alt="超～可愛的貓咪照片，趕快來贊助讓更多貓貓可以有溫暖的家！"
                    class="l-object-fit-center-25">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="row h-100 g-0">
                <div class="col-6 col-md-12 mb-md-13">
                  <div class="w-100 h-100 d-flex flex-column border border-2 border-text">
                    <div class="d-none d-md-flex flex-grow-1 flex-md-column justify-content-md-between">
                      <h2 class="mb-0 d-flex justify-content-center align-items-center flex-grow-1">單次支持</h2>
                      <a class="btn btn-primary border-bottom-0 border-start-0 border-end-0 w-100">我決定＋1了</a>
                    </div>
                    <div class="d-block d-md-none flex-grow-1">
                      <a class="btn btn-secondary border-0 w-100 d-flex align-items-center justify-content-center">單次支持</a>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-12">
                  <div class="w-100 h-100 d-flex flex-column border border-2 border-text">
                    <div class="d-none d-md-flex flex-grow-1 flex-md-column justify-content-md-between">
                      <h2 class="mb-0 d-flex justify-content-center align-items-center flex-grow-1">定期支持</h2>
                      <a class="btn btn-primary border-bottom-0 border-start-0 border-end-0 w-100">我決定＋1了</a>
                    </div>
                    <div class="d-block d-md-none flex-grow-1">
                      <a class="btn btn-primary border-0 w-100 d-flex align-items-center justify-content-center">定期支持</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="faq py-9 py-lg-17 mb-11 mb-md-16">
        <div class="container ">
          <div class="col-12 col-lg-8">
            <div class="p-7 p-lg-13 border border-2 border-tertiary l-bg-background-yellow">
              <!-- 上方Title -->
              <div
                class="d-flex flex-column flex-xxl-row justify-content-lg-between align-items-xxl-center mb-6 mb-xxl-11">
                <h2
                  class="font-SerifTC mb-1 mb-lg-0 lh-sm fw-bold text-title fs-4 l-letterSpc-16 l-letterSpc-lg-24 fs-lg-2">
                  捐款常見問題</h2>
                <p class="font-SpaceMono mb-0 l-letterSpc-12 text-primary lh-sm fs-5 fs-lg-4 letterSpc-lg-16">FAQ About
                  Donate</p>
              </div>
              <!-- 下方問題答案區塊 -->
              <ul class="faq-list list-unstyled border border-2 border-inputBdr-dark">
                <!-- q1 -->
                <li
                  class="faq-list-item border-bottom border-2 border-inputBdr-dark py-4 px-6 py-lg-7 px-lg-11 collapsed"
                  data-bs-toggle="collapse" href="#donate__faq1">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 l-fs-16 me-3">資助搜趣找貓能怎麼幫助到牠們呢？</h3>
                    <span class="l-icon-expandmore flex-shrink-0"></span>
                    <span class="l-icon-expandless flex-shrink-0"></span>
                  </div>
                  <div class="collapse" id="donate__faq1">
                    <p class="mb-0 mt-2 mt-lg-4">
                      您的贊助將支持我們持續穩定地維護平台，讓浪貓不僅能獲得救助，也能擁有更多的曝光 度，讓他們更有機會找到溫暖的家。
                    </p>
                  </div>
                </li>
                <!-- q2 -->
                <li
                  class="faq-list-item border-bottom border-2 border-inputBdr-dark py-4 px-6 py-lg-7 px-lg-11 collapsed"
                  data-bs-toggle="collapse" href="#donate__faq2">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 l-fs-16 me-3">我沒有信用卡，可以用匯款的嗎？</h3>
                    <span class="l-icon-expandmore flex-shrink-0"></span>
                    <span class="l-icon-expandless flex-shrink-0"></span>
                  </div>
                  <div class="collapse" id="donate__faq2">
                    <p class="mb-0 mt-2 mt-lg-4">很抱歉，我們暫時尚末開通此功能</p>
                  </div>
                </li>
                <!-- q3 -->
                <li
                  class="faq-list-item border-bottom border-2 border-inputBdr-dark py-4 px-6 py-lg-7 px-lg-11 collapsed"
                  data-bs-toggle="collapse" href="#donate__faq3">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 l-fs-16 me-3">我不想定期定額，可以一次性付款嗎？</h3>
                    <span class="l-icon-expandmore flex-shrink-0"></span>
                    <span class="l-icon-expandless flex-shrink-0"></span>
                  </div>
                  <div class="collapse" id="donate__faq3">
                    <p class="mb-0 mt-2 mt-lg-4">可以，請前往</p>
                  </div>
                </li>
                <!-- q4 -->
                <li
                  class="faq-list-item border-bottom border-2 border-inputBdr-dark py-4 px-6 py-lg-7 px-lg-11 collapsed"
                  data-bs-toggle="collapse" href="#donate__faq4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 l-fs-16 me-3">我不想贊助了，要如何取消？</h3>
                    <span class="l-icon-expandmore flex-shrink-0"></span>
                    <span class="l-icon-expandless flex-shrink-0"></span>
                  </div>
                  <div class="collapse" id="donate__faq4">
                    <p class="mb-0 mt-2 mt-lg-4">您可以私訊粉絲專頁，我們將核對您的資料後為您取消。</p>
                  </div>
                </li>
                <!-- q5 -->
                <li class="faq-list-item py-4 px-6 py-lg-7 px-lg-11 collapsed" data-bs-toggle="collapse"
                  href="#donate__faq5">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 l-fs-16 me-3">我可以索取匯款收據嗎？</h3>
                    <span class="l-icon-expandmore flex-shrink-0"></span>
                    <span class="l-icon-expandless flex-shrink-0"></span>
                  </div>
                  <div class="collapse" id="donate__faq5">
                    <p class="mb-0 mt-2 mt-lg-4">可以，請在捐款人資訊填寫收據相關資料</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="donors">
        <div class="container">
          <div class="d-flex flex-column align-items-center">
            <h2 class="fs-4 fw-bold letterSpc-8 text-center fs-md-2 mb-6 mb-lg-13">
              捐款芳名錄
            </h2>
            <a href="#"
              class="btn btn-secondary px-7 py-3 lh-sm letterSpc-8 d-flex align-items-center fw-medium mb-6 mb-lg-13 "
              title="Take me home">
              由此前往
              <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="ms-10">
            </a>
            <div class="text-center">
              <p class="mb-0">若認同我們的理念，請分享宣傳給更多的人</p>
              <p class="mb-0">只要你還有選擇，只要你願意行動，牠就有機會獲得一個溫暖的家。</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
      <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
      <!-- jQuery  -->
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <!-- GSAP -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
      <script src="https://cdn.rawgit.com/JohnBlazek/gsap/master/utils/SplitText.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
      <!-- <script>
        gsap.registerPlugin(SplitText, ScrollTrigger);
        let GSAP_showOneByOneElements= document.querySelectorAll(".l-GSAP-showOneByOne");
        GSAP_showOneByOneElements.forEach(function(element) {
            let text = new SplitText(element, { type: "chars,words" });
            gsap.from(text.chars, {
              opacity: 0,
              y: 20,
              stagger: 0.05,
              ease: "power2.out",
              scrollTrigger: {
                trigger: element,
                start: "top 80%", // 調整滾動觸發的位置
              },
            });
          });
      </script> -->
</body>

</html>