<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="donate__plan mt-7 mt-lg-13">
      <div class="container">
        <div class="donate__plan__selectPlan">
          <div class="row" id="AJAX_container">
            <!-- 第0頁 -->
            <div class="col-12 col-md-8 col-xl-6">
              <div class="p-4 border border-2 border-inputBdr-dark">
                <div class="list-group d-flex" role="tablist">
                  <a class="list-group-item list-group-item-action active w-50 text-center  py-1 py-md-2"
                    id="list-home-list" data-bs-toggle="list" href="#selectPlan_once" role="tab"
                    aria-controls="list-home">單次捐款</a>
                  <a class="list-group-item list-group-item-action w-50 text-center py-1 py-md-2" id="list-profile-list"
                    data-bs-toggle="list" href="#selectPlan_regular" role="tab" aria-controls="list-profile">每月定期捐款</a>
                </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="selectPlan_once" role="tabpanel">
                    <h3 class="mb-0 fs-6 fs-lg-4">點選金額或自訂金額</h3>
                    <table class="table table-hover mb-0">
                      <tbody>
                        <tr class="border-top border-2 border-inputBdr-dark ">
                          <th scope="row" class="ps-0" data-dollars="300">NTD300</th>
                          <td class="pe-0 text-end">幫助貓貓</td>
                        </tr>
                        <tr class="border-top border-bottom border-1 border-inputBdr-dark">
                          <th scope="row" class="ps-0" data-dollars="600">NTD600</th>
                          <td class="pe-0 text-end">幫助兩倍的貓貓</td>
                        </tr>
                        <tr class="border-bottom border-1 border-inputBdr-dark">
                          <th scope="row" class="ps-0" data-dollars="1500">NTD1500</th>
                          <td class="pe-0 text-end">幫助很多貓貓</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="border-bottom border-1 border-inputBdr-dark d-flex align-items-center">
                      <label for="once_count" class="me-2 flex-shrink-0">自訂金額</label>
                      <input type="tel" name="counts" id="once_count" placeholder="請輸入" class="">
                    </div>
                    <div class="mt-2 mt-lg-4">
                      <p>選擇付款方式</p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="once_creditCard" id="once_creditCard"
                          checked>
                        <label class="form-check-label" for="once_creditCard">信用卡</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-primary" type="submit">下一步</button>
                    </div>
                  </div>

                  <div class="tab-pane" id="selectPlan_regular" role="tabpanel">
                    <h3 class="mb-0 fs-6 fs-lg-4">點選金額或自訂金額</h3>
                    <table class="table table-hover mb-0">
                      <tbody>
                        <tr class="border-top border-2 border-inputBdr-dark ">
                          <th scope="row" class="ps-0" data-dollars="300">NTD300</th>
                          <td class="pe-0 text-end">每天只要10元</td>
                        </tr>
                        <tr class="border-top border-bottom border-1 border-inputBdr-dark">
                          <th scope="row" class="ps-0" data-dollars="600">NTD600</th>
                          <td class="pe-0 text-end">每天不到20元</td>
                        </tr>
                        <tr class="border-bottom border-1 border-inputBdr-dark">
                          <th scope="row" class="ps-0" data-dollars="1500">NTD1500</th>
                          <td class="pe-0 text-end">每天只要一杯咖啡的錢</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="border-bottom border-1 border-inputBdr-dark d-flex align-items-center">
                      <label for="regular_count" class="me-2">自訂金額</label>
                      <input type="tel" name="counts" id="regular_count" placeholder="請輸入" value="">
                    </div>
                    <div class="mt-2 mt-lg-4">
                      <p>選擇付款方式</p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regular_creditCard" id="regular_creditCard"
                          checked>
                        <label class="form-check-label" for="regular_creditCard">信用卡</label>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-primary" type="submit">下一步</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <!-- 第1頁 -->
            <!-- <div class="col-12 col-md-8 col-xl-6">
              <div class="mt-20 p-4 border border-2 border-inputBdr-dark" id="selectPlan_once_step2">
                <div class="w-100 border-0 bg-primary text-center  fs-4 py-2 ">單次捐款</div>
                <form action="">
                  <h2>填寫基本資料</h2>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_name" class="form-label l-requiredIcon flex-shrink-0">姓名</label>
                    <input type="text" class="form-control" id="once_donor_name" placeholder="請輸入">
                  </div>
                  <div class="once_selectGender">
                    <span class="l-requiredIcon">性別</span>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="once_male" value="male">
                      <label class="form-check-label" for="once_male">男</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="once_female" value="female">
                      <label class="form-check-label" for="once_female">女</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="once_others" value="others">
                      <label class="form-check-label" for="once_others">其他</label>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_personalID" class="form-label l-requiredIcon flex-shrink-0">身分證字號</label>
                    <input type="text" class="form-control" id="once_donor_personalID" placeholder="第一個字母請大寫">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_mail" class="form-label l-requiredIcon flex-shrink-0">電子郵件</label>
                    <input type="email" class="form-control" id="once_donor_mail" placeholder="請輸入">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_phone" class="form-label l-requiredIcon flex-shrink-0">聯絡電話</label>
                    <input type="tel" class="form-control" id="once_donor_phone" placeholder="請輸入">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_addr" class="form-label flex-shrink-0">通訊地址</label>
                    <select class="form-select" aria-label="選擇縣市">
                      <option selected>縣市</option>
                      <option value="1">台北</option>
                      <option value="2">台中</option>
                      <option value="3">高雄</option>
                    </select>
                    <select class="form-select" aria-label="選擇鄉鎮區">
                      <option selected>鄉鎮區</option>
                      <option value="1">台北</option>
                      <option value="2">台中</option>
                      <option value="3">高雄</option>
                    </select>
                  </div>
                  <input type="text" class="form-control" id="once_donor_addr">
                  <div id="once_donor_help" class="form-text">若需要紙本收據請填寫、末填則奇送電子收據，謝謝！</div>
                </form>
                <div class="d-flex ">
                  <a href="" class="btn btn-secondary w-50 previous">上一步</a>
                  <a href="" class="btn btn-primary w-50 next">下一步</a>
                </div>
              </div>
            </div> -->


            <!-- 第2頁 -->
            <!-- <div class="col-12 col-md-8 col-xl-6">
              <div class="mt-20 p-4 border border-2 border-inputBdr-dark" id="selectPlan_once_step2">
                <p class="mb-0 w-100 border-bottom border-3 border-title text-center fs-4 py-2 ">收費資訊與寄送地址</p>
                <form action="">
                  <p class="mb-0">是否需要收據</p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="receipe" id="noreceipt">
                    <label class="form-check-label" for="noreceipt">不需要，無抵稅需求</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="receipe" id="digital-receipt" checked>
                    <label class="form-check-label" for="digital-receipt">電子收據（響應環保）</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="receipe" id="paper-receipt" checked>
                    <label class="form-check-label" for="paper-receipt">紙本收據，需提供完整地址</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input rounded-pill" type="checkbox" role="switch" id="once_sameAsDonor">
                    <label class="form-check-label" for="once_sameAsDonor">同捐款人資料</label>
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_title" class="form-label l-requiredIcon flex-shrink-0">收據抬頭</label>
                    <input type="text" class="form-control" id="once_donor_title" placeholder="請輸入姓名">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_certification" class="form-label l-requiredIcon flex-shrink-0">報稅憑證</label>
                    <input type="text" class="form-control" id="once_donor_certification" placeholder="身分證字號，第一個字母請大寫">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_donationName" class="form-label l-requiredIcon flex-shrink-0">捐款徵信名稱</label>
                    <input type="text" class="form-control" id="once_donor_donationName" placeholder="請輸入名稱">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="once_donor_addr" class="form-label flex-shrink-0">通訊地址</label>
                    <select class="form-select" aria-label="選擇縣市">
                      <option selected>縣市</option>
                      <option value="1">台北</option>
                      <option value="2">台中</option>
                      <option value="3">高雄</option>
                    </select>
                    <select class="form-select" aria-label="選擇鄉鎮區">
                      <option selected>鄉鎮區</option>
                      <option value="1">台北</option>
                      <option value="2">台中</option>
                      <option value="3">高雄</option>
                    </select>
                  </div>
                  <input type="text" class="form-control" id="once_donor_addr">
                  <div id="once_donor_help" class="form-text">若需要紙本收據請填寫、末填則奇送電子收據，謝謝！</div>
                </form>
                <div class="d-flex ">
                  <a href="" class="btn btn-secondary w-50">上一步</a>
                  <a href="" class="btn btn-primary w-50">下一步</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
      <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
      <!-- jQuery  -->
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <!-- AOS -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <!-- AOS-init -->
      <script>
        AOS.init();
      </script>
      <!-- personal -->
      <script>
        // Global data
        const donateData = {
          plan: "",
          value: 0,
          donorGender: "",
        }
        // 綁定頁面替換入口
        const AJAX = document.querySelector('#AJAX_container');
        // 一開始就載入第0頁所以沒關係（吧
        document.querySelectorAll('#selectPlan_regular table tr').forEach(item => {
          item.addEventListener('click', function () {
            // console.log(this.querySelector('th').dataset.dollars);
            const target = document.querySelector('#regular_count');
            target.value = this.querySelector('th').dataset.dollars;
          })
        });
        document.querySelectorAll('#selectPlan_once table tr').forEach(item => {
          item.addEventListener('click', function () {
            const target = document.querySelector('#once_count');
            target.value = this.querySelector('th').dataset.dollars;
          })
        });

        const inputElements = document.querySelectorAll('input[type="tel"]');
        inputElements.forEach((item) => {
          item.addEventListener('input', function () {
            const inputValue = this.value;
            const numericValue = inputValue.replace(/\D/g, '');
            if (inputValue !== numericValue) {
              this.value = numericValue;
            }
          })
        })

        // 綁定按鈕
        const step1Submit_regular = document.querySelector('#selectPlan_regular [type="submit"]');
        const step1Submit_once = document.querySelector('#selectPlan_once [type="submit"]');



        // ^once ^step0>1
        // step0 一次性捐贈 "下一步"按鈕
        step1Submit_once.addEventListener('click', () => {
          donateData.plan = "once";
          donateData.value = document.querySelector('#once_count').value;
          // 畫面渲染
          AJAX.innerHTML = `
            <div class="col-12 col-md-8 col-xl-6">
              <div class="mt-20 p-4 border border-2 border-inputBdr-dark" id="selectPlan_${donateData.plan}_step1">
                <div class="w-100 border-0 bg-primary text-center fs-4 py-2 ">${donateData.plan === "once" ? '單次捐贈' : '定期捐贈'}</div>
                <form action="">
                  <h2>填寫基本資料</h2>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_name" class="form-label l-requiredIcon flex-shrink-0">姓名</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_name" placeholder="請輸入">
                  </div>
                  <div class="">
                    <span class="l-requiredIcon">性別</span>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="${donateData.plan}_male" value="male">
                      <label class="form-check-label" for="${donateData.plan}_male">男</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="${donateData.plan}_female" value="female">
                      <label class="form-check-label" for="${donateData.plan}_female">女</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="${donateData.plan}_others" value="others" checked>
                      <label class="form-check-label" for="${donateData.plan}_others">其他</label>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_personalID" class="form-label l-requiredIcon flex-shrink-0">身分證字號</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_personalID" placeholder="第一個字母請大寫">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_mail" class="form-label l-requiredIcon flex-shrink-0">電子郵件</label>
                    <input type="email" class="form-control" id="${donateData.plan}_donor_mail" placeholder="請輸入">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_phone" class="form-label l-requiredIcon flex-shrink-0">聯絡電話</label>
                    <input type="tel" class="form-control" id="${donateData.plan}_donor_phone" placeholder="請輸入">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_addr" class="form-label flex-shrink-0">通訊地址</label>
                    <select class="form-select county" aria-label="選擇縣市">
                      <option selected>縣市</option>
                      <option value="台北">台北</option>
                      <option value="台中">台中</option>
                      <option value="高雄">高雄</option>
                    </select>
                    <select class="form-select city" aria-label="選擇鄉鎮區">
                      <option selected>鄉鎮區</option>
                      <option value="內湖">內湖</option>
                      <option value="南港">南港</option>
                      <option value="木柵">木柵</option>
                    </select>
                  </div>
                  <input type="text" class="form-control" id="${donateData.plan}_donor_addr">
                  <div id="${donateData.plan}_donor_help" class="form-text">若需要紙本收據請填寫、末填則奇送電子收據，謝謝！</div>
                </form>
                <div class="d-flex ">
                  <a href="#" class="btn btn-secondary w-50 previous">上一步</a>
                  <a href="#" class="btn btn-primary w-50 next">下一步</a>
                </div>
              </div>
            </div>
            `;
          // 綁定新事件
          document.querySelector(`#selectPlan_${donateData.plan}_step1 .next`).addEventListener('click', function () {
            let temp;
            // ^updateData
            // 更新取得checkbox資料
            getRadioBoxChecked();
            donateData.donorGender = temp;
            donateData.donorAddrCounty = getSelectedOption_county();
            donateData.donorAddrCity = getSelectOption_city();
            // 姓名
            donateData.donorName = document.getElementById(`${donateData.plan}_donor_name`).value;
            // 身分證字號
            donateData.donorPersonalID = document.getElementById(`${donateData.plan}_donor_personalID`).value;
            // email
            donateData.mail = document.getElementById(`${donateData.plan}_donor_mail`).value;
            // 電話號碼
            donateData.phoneNumber = document.getElementById(`${donateData.plan}_donor_phone`).value;


            function getRadioBoxChecked() {
              document.getElementsByName('myGender').forEach((item) => {
                if (item.checked) {
                  temp = item.value;
                }
              })
            }
            function getSelectedOption_county() {
              const selectElement = document.querySelector(`#selectPlan_${donateData.plan}_step1 .county`);
              const selectedOption = selectElement.options[selectElement.selectedIndex];
              if (selectedOption) {
                return selectedOption.value;
              }
              return null; // No option selected
            }
            function getSelectOption_city() {
              const selectElement = document.querySelector(`#selectPlan_${donateData.plan}_step1 .city`);
              const selectedOption = selectElement.options[selectElement.selectedIndex];
              if (selectedOption) {
                return selectedOption.value;
              }
              return null; // No option selected
            }
          });









          // ^once ^step1>2
          // 綁定step1 下一步按鈕
          document.querySelector(`#selectPlan_${donateData.plan}_step1 .next`).addEventListener('click', () => {
            AJAX.innerHTML = `
            <div class="col-12 col-md-8 col-xl-6">
              <div class="mt-20 p-4 border border-2 border-inputBdr-dark" id="selectPlan_${donateData.plan}_step2">
                <p class="mb-0 w-100 border-bottom border-3 border-title text-center fs-4 py-2 ">收費資訊與寄送地址</p>
                <form action="">
                  <p class="mb-0">是否需要收據</p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="receipt" id="${donateData.plan}_noreceipt" value="1">
                    <label class="form-check-label" for="${donateData.plan}_noreceipt">不需要，無抵稅需求</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="receipt" id="${donateData.plan}_digital-receipt" value="2">
                    <label class="form-check-label" for="${donateData.plan}_digital-receipt">電子收據（響應環保）</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="receipt" id="${donateData.plan}_paper-receipt" value="3" checked>
                    <label class="form-check-label" for="${donateData.plan}_paper-receipt">紙本收據，需提供完整地址</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input rounded-pill" type="checkbox" role="switch" id="${donateData.plan}_sameAsDonor">
                    <label class="form-check-label" for="${donateData.plan}_sameAsDonor">同捐款人資料</label>
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_title" class="form-label l-requiredIcon flex-shrink-0">收據抬頭</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_title" placeholder="請輸入姓名">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_certification" class="form-label l-requiredIcon flex-shrink-0">報稅憑證</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_certification" placeholder="身分證字號，第一個字母請大寫">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_donationName" class="form-label l-requiredIcon flex-shrink-0">捐款徵信名稱</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_donationName" placeholder="請輸入名稱">
                  </div>
                </form>
                <div class="d-flex ">
                  <a href="#" class="btn btn-secondary w-50 previous">上一步</a>
                  <a href="#" class="btn btn-primary w-50 next">下一步</a>
              </div>
            </div>
            `;
            // 綁定事件
            const switchbtn = document.querySelector(`#${donateData.plan}_sameAsDonor`);
            // 同捐款人資料
            switchbtn.addEventListener('change', function () {
              if (this.checked) {
                document.querySelector(`#${donateData.plan}_donor_title`).value = donateData.donorName;
                document.querySelector(`#${donateData.plan}_donor_certification`).value = donateData.donorPersonalID;
                document.querySelector(`#${donateData.plan}_donor_donationName`).value = donateData.donorName;
              } else {
                document.querySelector(`#${donateData.plan}_donor_title`).value = '';
                document.querySelector(`#${donateData.plan}_donor_certification`).value = '';
                document.querySelector(`#${donateData.plan}_donor_donationName`).value = '';
              }
            })
            // ^updateData
            document.querySelector(`#selectPlan_${donateData.plan}_step2 .next`).addEventListener('click', function () {
              let temp;
              // 姓名
              getRadioBoxChecked();
              donateData.receiptoption = temp;
              function getRadioBoxChecked() {
                document.getElementsByName('receipt').forEach((item) => {
                  if (item.checked) {
                    temp = item.value;
                  }
                })
              }
            });





          // ^once ^step2>3
          // 綁定step2 下一步按鈕
            document.querySelector(`#selectPlan_${donateData.plan}_step2 .next`).addEventListener('click',function(){
              AJAX.innerHTML=`


              `
            })
          })
        })



















































        // step0 定期捐贈 下一步按鈕
        step1Submit_regular.addEventListener('click', () => {
          donateData.plan = "regular";
          donateData.value = document.querySelector('#regular_count').value;
          // 畫面渲染
          AJAX.innerHTML = `
            <div class="col-12 col-md-8 col-xl-6">
              <div class="mt-20 p-4 border border-2 border-inputBdr-dark" id="selectPlan_${donateData.plan}_step1">
                <div class="w-100 border-0 bg-primary text-center fs-4 py-2 ">${donateData.plan === "once" ? '單次捐贈' : '定期捐贈'}</div>
                <form action="">
                  <h2>填寫基本資料</h2>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_name" class="form-label l-requiredIcon flex-shrink-0">姓名</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_name" placeholder="請輸入">
                  </div>
                  <div class="">
                    <span class="l-requiredIcon">性別</span>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="${donateData.plan}_male" value="male">
                      <label class="form-check-label" for="${donateData.plan}_male">男</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="${donateData.plan}_female" value="female">
                      <label class="form-check-label" for="${donateData.plan}_female">女</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="myGender" id="${donateData.plan}_others" value="others" checked>
                      <label class="form-check-label" for="${donateData.plan}_others">其他</label>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_personalID" class="form-label l-requiredIcon flex-shrink-0">身分證字號</label>
                    <input type="text" class="form-control" id="${donateData.plan}_donor_personalID" placeholder="第一個字母請大寫">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_mail" class="form-label l-requiredIcon flex-shrink-0">電子郵件</label>
                    <input type="email" class="form-control" id="${donateData.plan}_donor_mail" placeholder="請輸入">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_phone" class="form-label l-requiredIcon flex-shrink-0">聯絡電話</label>
                    <input type="tel" class="form-control" id="${donateData.plan}_donor_phone" placeholder="請輸入">
                  </div>
                  <div class="d-flex align-items-center">
                    <label for="${donateData.plan}_donor_addr" class="form-label flex-shrink-0">通訊地址</label>
                    <select class="form-select county" aria-label="選擇縣市">
                      <option selected>縣市</option>
                      <option value="台北">台北</option>
                      <option value="台中">台中</option>
                      <option value="高雄">高雄</option>
                    </select>
                    <select class="form-select city" aria-label="選擇鄉鎮區">
                      <option selected>鄉鎮區</option>
                      <option value="內湖">內湖</option>
                      <option value="南港">南港</option>
                      <option value="木柵">木柵</option>
                    </select>
                  </div>
                  <input type="text" class="form-control" id="${donateData.plan}_donor_addr">
                  <div id="${donateData.plan}_donor_help" class="form-text">若需要紙本收據請填寫、末填則奇送電子收據，謝謝！</div>
                </form>
                <div class="d-flex ">
                  <a href="#" class="btn btn-secondary w-50 previous">上一步</a>
                  <a href="#" class="btn btn-primary w-50 next">下一步</a>
                </div>
              </div>
            </div>
            `;
          // 綁定新事件
          let gender;
          document.querySelector(`#selectPlan_${donateData.plan}_step1 .next`).addEventListener('click', function () {
            // 更新取得checkbox資料
            getCheckboxChecked();
            donateData.donorGender = gender;
            donateData.donorAddrCounty = getSelectedOption_county();
            donateData.donorAddrCity = getSelectOption_city();
          });

          function getCheckboxChecked() {
            document.getElementsByName('myGender').forEach((item) => {
              if (item.checked) {
                gender = item.value;
              }
            })
          }
          function getSelectedOption_county() {
            const selectElement = document.querySelector(`#selectPlan_${donateData.plan}_step1 .county`);
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption) {
              return selectedOption.value;
            }
            return null; // No option selected
          }
          function getSelectOption_city() {
            const selectElement = document.querySelector(`#selectPlan_${donateData.plan}_step1 .city`);
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption) {
              return selectedOption.value;
            }
            return null; // No option selected
          }





        })


      </script>
</body>

</html>