<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>貓咪健康幸福守則</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <%- include('./layout/header'); -%>
        <!-- 標題 -->
        <div class="container mb-md-6 mb-10">
            <div class="d-flex align-items-center mb-5">
                <i class="fa-solid fa-heart-pulse fa-bounce" style="color: #f7853a;"></i>
                <h1 class="index-title text-title fs-3 fs-md-2">貓咪健康幸福守則</h1>
            </div>
            <h2 class="text-primary fs-5 fs-md-4 mb-0">Rules for Cat Health and Happiness</h2>
        </div>
        <!-- Rule 01 迎接貓咪前準備 -->
        <div class="container">
            <div>
                <!-- 說明文字 -->
                <div>
                    <h2 class="text-primary fs-md-5 mb-2">Rule 01</h2>
                    <h2 class="fs-4 fs-md-5 text-title mb-md-6 mb-3">迎接貓咪前準備</h2>
                    <p>恭喜您！<br>
                        即將迎接一隻可愛貓貓成為新的家人！</p>
                    <p>在牠們可愛的小爪子踏進家門之前，<br>
                        請先確認自己是否備妥貓咪所需的物品。</p>
                </div>
                <!-- 自我檢核區 -->
                <!-- 第一列 -->
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">舒服的床</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">衛生用品</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">貓砂盆</label>
                    </div>
                </div>
                <!-- 第二列 -->
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox4" value="option1">
                        <label class="form-check-label" for="inlineCheckbox4">貓咪玩具</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox5" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">進食的碗</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox6" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">清潔用品</label>
                    </div>
                </div>
                <!-- 第三列 -->
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox7" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">衛生用品</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="HR_inlineCheckbox8" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">貓抓板和貓抓柱</label>
                    </div>
                </div>
                <img src="../assets/images/happyRulesImages/Page5_foot-2.svg" alt="貓腳印裝飾圖片">
            </div>
            <img src="../assets/images/happyRulesImages/Page5_01.svg" alt="">
        </div>
        <!-- Rule 02 打造一個安全舒適的家 -->
        <!-- 說明文字 -->
        <div class="container mb-md-19">
            <h2 class="text-primary fs-md-5 mb-2">Rule 02</h2>
            <h2 class="fs-4 fs-md-5 text-title mb-md-6 mb-3">打造一個安全舒適的家</h2>
            <p class="mb-6 mb-md-15">您需要準備三個主要的活動區域，每一個活動區域都需要被隔開，最好分別位於不同的房間。</p>
            <!-- 圖片內容 -->
            <div class="row">
                <div class="col col-md-4 mb-8 mb-md-19">
                    <img class="mb-8 mb-md-9" src="../assets/images/happyRulesImages/Page5_food.png" alt="貓咪喝水和吃飯的區域">
                    <h3 class="text-title mb-3 mb-md-2 fs-6">喝水和吃飯的區域</h3>
                    <p class="mb-0 text-center">貓咪需要一個安靜的環境，好讓牠們在吃飯的時候不會被打擾或受到驚嚇。</p>
                </div>
                <div class="col col-md-4 mb-8 mb-md-19">
                    <img class="mb-8 mb-md-9" src="../assets/images/happyRulesImages/Page5_bed.png" alt="貓咪睡覺和休息的區域">
                    <h3 class="text-title mb-3 mb-md-2 fs-6">睡覺和休息的區域</h3>
                    <p class="mb-0 text-center">貓咪需要非常大量的睡眠，請提供一個放鬆、遠離吵雜動線的環境，讓牠們可以放心休息。</p>
                </div>
                <div class="col col-md-4 mb-16 mb-md-19">
                    <img class="mb-8 mb-md-9" src="../assets/images/happyRulesImages/Page5_bathroom.png" alt="貓咪上廁所的區域">
                    <h3 class="text-title mb-3 mb-md-2 fs-6">上廁所的區域</h3>
                    <p class="mb-0 text-center">上廁所其實是一件會讓牠們感到脆弱的事情。最好將牠們的便盆分開擺放，並具備隱蔽性。</p>
                </div>
            </div>
        </div>
        <!-- Rule 03 遠離危險的地方 -->
        <div class="container">
            <!-- 說明文字 -->
            <h2 class="text-primary fs-md-5 mb-2">Rule 03</h2>
            <h2 class="fs-4 fs-md-5 text-title mb-md-6 mb-3">遠離危險的地方</h2>
            <!-- 圖片內容 -->
            
        </div>
        

        <!-- Rule 04 照顧愛貓的健康 -->


        <%- include('./layout/footer'); -%>
            <script src="https://kit.fontawesome.com/1b6cabe66e.js" crossorigin="anonymous"></script>
            <script type="module" src="../main.js"></script>
            <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
</body>

</html>