<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found Shelter</title>
</head>
<body>

    <%- include('./layout/header'); -%>

    <main class="shelter pt-7 pt-lg-13 overflow-hidden">
        <div class="container position-relative">
            <img src="../assets/images/shelter/cat_top.svg" alt="cat pic" class="catTop position-absolute p-0 z-n1 overflow-hidden d-none d-md-block">
            <img src="../assets/images/shelter/cat_middle.svg" alt="cat pic" class="catMiddle position-absolute p-0 z-n1 overflow-hidden d-none d-md-block">
            <img src="../assets/images/shelter/cat_bottom.svg" alt="cat pic" class="catBottom position-absolute z-n1 overflow-hidden d-none d-md-block">
            <div class="row flex-column">
                <div class="col d-flex justify-content-center mb-6 mb-lg-13">
                    <span class="material-symbols-outlined shelterIcon fs-2 text-primary fw-medium me-1 me-lg-2">
                        house
                    </span>
                    <h1 class="fs-4 text-title fw-bold letterSpc-8 text-center fs-md-2 mb-0 ">
                        找尋附近的收容所 <br><span class="fs-5 text-primary letterSpc-8 fw-normal">Search Shelter</span>
                    </h1>
                </div>
            </div>
            <form action="" class="row flex-column flex-lg-row justify-content-lg-end align-items-center mb-4">
                <div class="mb-4 mb-md-9 col-lg-4 d-flex align-items-lg-center justify-content-lg-between">
                    <label for="dropdown" class="form-label text-text fw-medium fs-xl-6 mb-0 me-3">縣市<br>查詢</label>
                    <div class="dropdown d-flex flex-fill">
                        <button class="dropBtn text-text fs-xl-6 fw-medium btn btn-white px-2 py-2 border border-2 border-inputBdr-light letterSpc-8 d-flex align-items-center justify-content-between w-100" id="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            全部
                            <span class="material-symbols-outlined expand_more">
                                expand_more
                            </span>
                          </button>
                        <ul class="dropdown-menu w-100 border-inputBdr-light">
                            <li><a class="dropdown-item fs-xl-6 text-text fw-medium letterSpc-8 item0" href="#">全部</a></li>
                            <li><a class="dropdown-item fs-xl-6 text-text fw-medium letterSpc-8 item1" href="#">北部</a></li>
                            <li><a class="dropdown-item fs-xl-6 text-text fw-medium letterSpc-8 item2" href="#">中部</a></li>
                            <li><a class="dropdown-item fs-xl-6 text-text fw-medium letterSpc-8 item3" href="#">南部</a></li>
                            <li><a class="dropdown-item fs-xl-6 text-text fw-medium letterSpc-8 item4" href="#">東部</a></li>
                            <li><a class="dropdown-item fs-xl-6 text-text fw-medium letterSpc-8 item5" href="#">離島</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-4 mb-md-9 col-lg-4 d-flex align-items-lg-center justify-content-lg-between">
                    <label for="keyWord" class="form-label text-text fw-medium text-center fs-xl-6 mb-0 me-3">關鍵字<br>查詢</label>
                    <input type="text" class="keyWord text-text fw-medium fs-xl-6 border border-2 border-inputBdr-light letterSpc-8 px-4 py-2 flex-fill" id="keyWord" placeholder="請輸入關鍵字">
                </div>
                <div class="mb-4 mb-md-9 col-md-4 col-lg-2 align-self-md-center">
                    <button type="submit" class="btn btn-primary text-white fs-xl-6 fw-medium border w-100 px-4 py-2 border-inputBdr-dark border-2 d-flex align-items-center justify-content-center">查詢 <img src="../assets/images/shelter/arrow_white.svg" alt="arrow icon" class="arrowBtn ms-9"></button>
                </div>
            </form>
            <div class="row justify-content-center">
                <ul class="list-group list-unstyled col-lg-6 align-self-lg-center d-flex justify-content-lg-between mb-9">
                    <li class="list-group-item flex-fill">
                        <a href="#" class="fw-medium w-100 fs-xl-6 text-center border-end">
                            全部
                        </a>
                    </li>
                    <li class="list-group-item flex-fill">
                        <a href="#" class="fw-medium w-100 fs-xl-6 text-center border-end">
                            北部
                        </a>
                    </li>
                    <li class="list-group-item flex-fill">
                        <a href="#" class="fw-medium w-100 fs-xl-6 text-center border-end">
                            中部
                        </a>
                    </li>
                    <li class="list-group-item flex-fill">
                        <a href="#" class="fw-medium w-100 fs-xl-6 text-center border-end">
                            南部
                        </a>
                    </li>
                    <li class="list-group-item flex-fill">
                        <a href="#" class="fw-medium w-100 fs-xl-6 text-center border-end">
                            東部
                        </a>
                    </li>
                    <li class="list-group-item flex-fill">
                        <a href="#" class="fw-medium w-100 fs-xl-6 text-center">
                            離島
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row justify-content-center position-relative">
                <div class="col-10 col-md-6 col-xl-4 mb-7 mb-lg-11">
                    <div class="card border-inputBdr-dark border-2 p-4">
                        <div class="indexPic"></div>
                        <div class="card-body px-0 px-lg-2 px-xxl-4">
                          <h2 class="card-title fs-5 fs-lg-5 fw-medium fs-xl-4 text-title mb-4 mb-lg-9 position-relative">
                            臺北市動物之家
                            <span class="material-symbols-outlined position-absolute end-0 top-50 translate-middle favor">
                                favorite
                            </span>
                        </h2>
                            <a target="_blank" href="https://goo.gl/maps/LS29m1Xw4Zi6zcTb8" title="臺北市動物之家" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    location_on
                                </span>
                                臺北市內湖區安美街191號
                            </a>
                            <a target="_blank" href="tel:0287913254" title="tell:02-87913254" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    phone_in_talk
                                </span>
                                02-87913254
                            </a>
                        </div>
                        <div class="card-footer p-0 border-0">
                            <button class="btn btn-secondary fw-medium w-75 mx-auto text-title py-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#item1" type="button">
                                更多資訊
                                <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="arrowBtn ms-11">
                            </button>
                        </div>
                    </div>
                    <div class="modal fade one" id="item1" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                          <div class="modal-content px-4">
                            <div class="modal-header border-0 pb-0">
                                <a href="#" class="ms-auto" data-bs-dismiss="modal">
                                    <i class="fa-solid fa-xmark fs-3"></i>
                                </a>
                            </div>
                            <div class="modal-body row flex-lg-row">
                                <div class="col-12 col-lg-6 d-flex flex-column mb-7 mb-lg-0">
                                    <div class="pic">
                                        <img class="w-100 mainPic mb-4" src="../assets/images/shelter/1/1.png" alt="">
                                        <div class="d-flex justify-content-between mb-7 mb-lg-7 group1">
                                            <img class="picItem1" src="../assets/images/shelter/1/1.png" alt="">
                                            <img class="picItem2" src="../assets/images/shelter/1/2.png" alt="">
                                            <img class="picItem3" src="../assets/images/shelter/1/3.png" alt="">
                                            <img class="picItem4" src="https://fakeimg.pl/541x300/?retina=1&text= &font=noto" alt="">
                                        </div>
                                    </div>
                                    <h3 class="text-title fs-5 fw-medium fs-lg-6 fs-xl-4 mb-lg-4">臺北市動物之家</h3>
                                    <p class="text-text mb-lg-7">
                                        希望能將對牠的愛延續下去，因此創建這個寵物送領養的平台，冀望能藉由這個平台讓更多的浪浪能擁有一個家，讓有意願領養動物的人都可以輕鬆的找到願意接納的寵物。目前我們傾向不收費用盡已所能的運作方向，但為了維持網站運作會放置 Google 廣告，尚請見諒。 另外，也歡迎相關公益團體或法人與我們聯絡提案合作，我們願意盡量支持與配合。
                                    </p>
                                    <p class="d-flex align-items-center">地址：<a href="https://goo.gl/maps/LS29m1Xw4Zi6zcTb8">臺北市內湖區安美街191號</a></p>
                                    <p class="d-flex align-items-center">電話：<a href="tel:02-87913254">02-87913254</a></p>
                                    <p class="text-text">
                                        領養開放時間：<br>週二至週六：上午10:00~12:00，下午14:00~16:00
                                    </p>
                                    <div class="btn-group mt-auto d-flex">
                                        <button class="btn btn-secondary p-3 flex-fill me-1 fw-medium">看看其他收容所</button>
                                        <button class="btn btn-primary p-3 flex-fill ms-1 fw-medium border-2 border-inputBdr-dark">尋找心願貓咪</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115649.27127570663!2d121.44334738906251!3d25.066642598060966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aca17b1bb197%3A0x5bb32ef0b85dc32f!2z5Y-w5YyX5biC5YuV54mp5LmL5a62!5e0!3m2!1szh-TW!2stw!4v1692777304812!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-xl-4 mb-7 mb-lg-11">
                    <div class="card border-inputBdr-dark border-2 p-4">
                        <div class="indexPic"></div>
                        <div class="card-body px-0 px-lg-2 px-xxl-4">
                          <h2 class="card-title fs-5 fs-lg-5 fw-medium fs-xl-4 text-title mb-4 mb-lg-9 position-relative">
                            板橋公立動物之家
                            <span class="material-symbols-outlined position-absolute end-0 top-50 translate-middle favor">
                                favorite
                            </span>
                        </h2>
                            <a target="_blank" href="https://goo.gl/maps/7yikxLHfcaLjzf388" title="板橋公立動物之家" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    location_on
                                </span>
                                新北市板橋區板城路28-1號
                            </a>
                            <a target="_blank" href="tel:0287913254" title="tell:02-89662158" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    phone_in_talk
                                </span>
                                02-89662158
                            </a>
                        </div>
                        <div class="card-footer p-0 border-0">
                            <button class="btn btn-secondary fw-medium w-75 mx-auto text-title py-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#item2" type="button">
                                更多資訊
                                <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="arrowBtn ms-11">
                            </button>
                        </div>
                    </div>
                    <div class="modal fade two" id="item2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                          <div class="modal-content">
                            <div class="modal-body row flex-lg-row">
                                <div class="col-12 col-lg-6 d-flex flex-column mb-7 mb-lg-0">
                                    <div class="pic">
                                        <img class="w-100 mainPic mb-4" src="../assets/images/shelter/2/1.png" alt="">
                                        <div class="d-flex justify-content-between mb-7 mb-lg-7 group1">
                                            <img class="picItem1" src="../assets/images/shelter/2/1.png" alt="">
                                            <img class="picItem2" src="../assets/images/shelter/2/2.png" alt="">
                                            <img class="picItem3" src="https://www.pet.gov.tw/Upload/pic/S1675848916403.png" alt="">
                                            <img class="picItem4" src="https://fakeimg.pl/541x300/?retina=1&text=準備中&font=noto" alt="">
                                        </div>
                                    </div>
                                    <h3 class="text-title fs-5 fw-medium fs-lg-6 fs-xl-4 mb-lg-4">板橋公立動物之家</h3>
                                    <p class="text-text mb-lg-7">
                                        希望能將對牠的愛延續下去，因此創建這個寵物送領養的平台，冀望能藉由這個平台讓更多的浪浪能擁有一個家，讓有意願領養動物的人都可以輕鬆的找到願意接納的寵物。目前我們傾向不收費用盡已所能的運作方向，但為了維持網站運作會放置 Google 廣告，尚請見諒。 另外，也歡迎相關公益團體或法人與我們聯絡提案合作，我們願意盡量支持與配合。
                                    </p>
                                    <p class="d-flex align-items-center">地址：<a href="https://goo.gl/maps/7yikxLHfcaLjzf388">新北市板橋區板城路28-1號</a></p>
                                    <p class="d-flex align-items-center">電話：<a href="tel:02-89662158">02-89662158</a></p>
                                    <p class="text-text">
                                        領養開放時間：<br>週二至週六：上午10:00~12:00，下午14:00~16:00
                                    </p>
                                    <div class="btn-group mt-auto d-flex">
                                        <button class="btn btn-secondary p-3 flex-fill me-1 fw-medium">看看其他收容所</button>
                                        <button class="btn btn-primary p-3 flex-fill ms-1 fw-medium border-2 border-inputBdr-dark">尋找心願貓咪</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14464.58114828461!2d121.43789934841448!3d24.995178693610164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346802b48b6a6141%3A0x6d4b927a2eb17556!2z5p2_5qmL5YuV54mp5LmL5a62!5e0!3m2!1szh-TW!2stw!4v1692878506401!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer border-0 mx-auto p-3">
                              <button type="button" class="btn btn-secondary text-title fw-medium" data-bs-dismiss="modal">上一頁</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-xl-4 mb-7 mb-lg-11">
                    <div class="card border-inputBdr-dark border-2 p-4">
                        <div class="indexPic"></div>
                        <div class="card-body px-0 px-lg-2 px-xxl-4">
                          <h2 class="card-title fs-5 fs-lg-5 fw-medium fs-xl-4 text-title mb-4 mb-lg-9 position-relative">
                            臺中南屯動物之家
                            <span class="material-symbols-outlined position-absolute end-0 top-50 translate-middle favor">
                                favorite
                            </span>
                        </h2>
                            <a target="_blank" href="https://goo.gl/maps/rRWG3EpPhSzgNTzs7" title="臺中南屯動物之家" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    location_on
                                </span>
                                臺中市南屯區中台路601號
                            </a>
                            <a target="_blank" href="tel:0287913254" title="tell:04-23850976" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    phone_in_talk
                                </span>
                                04-23850976
                            </a>
                        </div>
                        <div class="card-footer p-0 border-0">
                            <button class="btn btn-secondary fw-medium w-75 mx-auto text-title py-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#item3" type="button">
                                更多資訊
                                <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="arrowBtn ms-11">
                            </button>
                        </div>
                    </div>
                    <div class="modal fade three" id="item3" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                          <div class="modal-content">
                            <div class="modal-body row flex-lg-row">
                                <div class="col-12 col-lg-6 d-flex flex-column mb-7 mb-lg-0">
                                    <div class="pic">
                                        <img class="w-100 mainPic mb-4" src="../assets/images/shelter/3/1.png" alt="">
                                        <div class="d-flex justify-content-between mb-7 mb-lg-7 group1">
                                            <img class="picItem1" src="../assets/images/shelter/3/1.png" alt="">
                                            <img class="picItem2" src="../assets/images/shelter/3/2.png" alt="">
                                            <img class="picItem3" src="../assets/images/shelter/3/3.png" alt="">
                                            <img class="picItem4" src="https://fakeimg.pl/541x300/?retina=1&text=準備中&font=noto" alt="">
                                        </div>
                                    </div>
                                    <h3 class="text-title fs-5 fw-medium fs-lg-6 fs-xl-4 mb-lg-4">臺中南屯動物之家</h3>
                                    <p class="text-text mb-lg-7">
                                        希望能將對牠的愛延續下去，因此創建這個寵物送領養的平台，冀望能藉由這個平台讓更多的浪浪能擁有一個家，讓有意願領養動物的人都可以輕鬆的找到願意接納的寵物。目前我們傾向不收費用盡已所能的運作方向，但為了維持網站運作會放置 Google 廣告，尚請見諒。 另外，也歡迎相關公益團體或法人與我們聯絡提案合作，我們願意盡量支持與配合。
                                    </p>
                                    <p class="d-flex align-items-center">地址：<a href="https://goo.gl/maps/rRWG3EpPhSzgNTzs7">臺中市南屯區中台路601號</a></p>
                                    <p class="d-flex align-items-center">電話：<a href="tel:04-23850976">04-23850976</a></p>
                                    <p class="text-text">
                                        領養開放時間：<br>週二至週六：上午10:00~12:00，下午14:00~16:00
                                    </p>
                                    <div class="btn-group mt-auto d-flex">
                                        <button class="btn btn-secondary p-3 flex-fill me-1 fw-medium">看看其他收容所</button>
                                        <button class="btn btn-primary p-3 flex-fill ms-1 fw-medium border-2 border-inputBdr-dark">尋找心願貓咪</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14562.73549770137!2d120.5649718480078!3d24.14773763454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693e54c06897bd%3A0x5a12331be91055df!2z6Ie65Lit5biC5YuV54mp5LmL5a625Y2X5bGv5ZyS5Y2A!5e0!3m2!1szh-TW!2stw!4v1692878689998!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer border-0 mx-auto p-3">
                              <button type="button" class="btn btn-secondary text-title fw-medium" data-bs-dismiss="modal">上一頁</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-xl-4 mb-7 mb-lg-11">
                    <div class="card border-inputBdr-dark border-2 p-4">
                        <div class="indexPic"></div>
                        <div class="card-body px-0 px-lg-2 px-xxl-4">
                          <h2 class="card-title fs-5 fs-lg-5 fw-medium fs-xl-4 text-title mb-4 mb-lg-9 position-relative">
                            高雄壽山動物園區
                            <span class="material-symbols-outlined position-absolute end-0 top-50 translate-middle favor">
                                favorite
                            </span>
                        </h2>
                            <a target="_blank" href="https://goo.gl/maps/3PgTL6p7WGzdqVoe6" title="高雄壽山動物園區" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    location_on
                                </span>
                                高雄市鼓山區萬壽路350號
                            </a>
                            <a target="_blank" href="tel:0287913254" title="tell:07-5519059" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    phone_in_talk
                                </span>
                                07-5519059
                            </a>
                        </div>
                        <div class="card-footer p-0 border-0">
                            <button class="btn btn-secondary fw-medium w-75 mx-auto text-title py-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#item4" type="button">
                                更多資訊
                                <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="arrowBtn ms-11">
                            </button>
                        </div>
                    </div>
                    <div class="modal fade four" id="item4" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                          <div class="modal-content">
                            <div class="modal-body row flex-lg-row">
                                <div class="col-12 col-lg-6 d-flex flex-column mb-7 mb-lg-0">
                                    <div class="pic">
                                        <img class="w-100 mainPic mb-4" src="../assets/images/shelter/4/1.png" alt="">
                                        <div class="d-flex justify-content-between mb-7 mb-lg-7 group1">
                                            <img class="picItem1" src="../assets/images/shelter/4/1.png" alt="">
                                            <img class="picItem2" src="../assets/images/shelter/4/2.png" alt="">
                                            <img class="picItem3" src="../assets/images/shelter/4/3.png" alt="">
                                            <img class="picItem4" src="https://fakeimg.pl/541x300/?retina=1&text=準備中&font=noto" alt="">
                                        </div>
                                    </div>
                                    <h3 class="text-title fs-5 fw-medium fs-lg-6 fs-xl-4 mb-lg-4">高雄壽山動物園區</h3>
                                    <p class="text-text mb-lg-7">
                                        希望能將對牠的愛延續下去，因此創建這個寵物送領養的平台，冀望能藉由這個平台讓更多的浪浪能擁有一個家，讓有意願領養動物的人都可以輕鬆的找到願意接納的寵物。目前我們傾向不收費用盡已所能的運作方向，但為了維持網站運作會放置 Google 廣告，尚請見諒。 另外，也歡迎相關公益團體或法人與我們聯絡提案合作，我們願意盡量支持與配合。
                                    </p>
                                    <p class="d-flex align-items-center">地址：<a href="https://goo.gl/maps/3PgTL6p7WGzdqVoe6">高雄市鼓山區萬壽路350號</a></p>
                                    <p class="d-flex align-items-center">電話：<a href="tel:07-5519059">07-5519059</a></p>
                                    <p class="text-text">
                                        領養開放時間：<br>週二至週六：上午10:00~12:00，下午14:00~16:00
                                    </p>
                                    <div class="btn-group mt-auto d-flex">
                                        <button class="btn btn-secondary p-3 flex-fill me-1 fw-medium">看看其他收容所</button>
                                        <button class="btn btn-primary p-3 flex-fill ms-1 fw-medium border-2 border-inputBdr-dark">尋找心願貓咪</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14729.958021026872!2d120.26512374731982!3d22.63553077610727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e046ceed067c9%3A0x40a7e177be37575f!2z6auY6ZuE5biC5aO95bGx5YuV54mp5ZyS!5e0!3m2!1szh-TW!2stw!4v1692878783183!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer border-0 mx-auto p-3">
                              <button type="button" class="btn btn-secondary text-title fw-medium" data-bs-dismiss="modal">上一頁</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-xl-4 mb-7 mb-lg-11">
                    <div class="card border-inputBdr-dark border-2 p-4">
                        <div class="indexPic"></div>
                        <div class="card-body px-0 px-lg-2 px-xxl-4">
                          <h2 class="card-title fs-5 fs-lg-5 fw-medium fs-xl-4 text-title mb-4 mb-lg-9 position-relative">
                            臺東動物收容中心
                            <span class="material-symbols-outlined position-absolute end-0 top-50 translate-middle favor">
                                favorite
                            </span>
                        </h2>
                            <a target="_blank" href="https://goo.gl/maps/WYSri1a3moSYiidg7" title="臺東動物收容中心" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    location_on
                                </span>
                                臺東縣臺東市中華路4段999巷600號
                            </a>
                            <a target="_blank" href="tel:0287913254" title="tell:089-362011" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    phone_in_talk
                                </span>
                                089-362011
                            </a>
                        </div>
                        <div class="card-footer p-0 border-0">
                            <button class="btn btn-secondary fw-medium w-75 mx-auto text-title py-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#item5" type="button">
                                更多資訊
                                <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="arrowBtn ms-11">
                            </button>
                        </div>
                    </div>
                    <div class="modal fade five" id="item5" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                          <div class="modal-content">
                            <div class="modal-body row flex-lg-row">
                                <div class="col-12 col-lg-6 d-flex flex-column mb-7 mb-lg-0">
                                    <div class="pic">
                                        <img class="w-100 mainPic mb-4" src="../assets/images/shelter/5/1.png" alt="">
                                        <div class="d-flex justify-content-between mb-7 mb-lg-7 group1">
                                            <img class="picItem1" src="../assets/images/shelter/5/1.png" alt="">
                                            <img class="picItem2" src="../assets/images/shelter/5/2.png" alt="">
                                            <img class="picItem3" src="../assets/images/shelter/5/3.png" alt="">
                                            <img class="picItem4" src="https://fakeimg.pl/541x300/?retina=1&text=準備中&font=noto" alt="">
                                        </div>
                                    </div>
                                    <h3 class="text-title fs-5 fw-medium fs-lg-6 fs-xl-4 mb-lg-4">臺東動物收容中心</h3>
                                    <p class="text-text mb-lg-7">
                                        希望能將對牠的愛延續下去，因此創建這個寵物送領養的平台，冀望能藉由這個平台讓更多的浪浪能擁有一個家，讓有意願領養動物的人都可以輕鬆的找到願意接納的寵物。目前我們傾向不收費用盡已所能的運作方向，但為了維持網站運作會放置 Google 廣告，尚請見諒。 另外，也歡迎相關公益團體或法人與我們聯絡提案合作，我們願意盡量支持與配合。
                                    </p>
                                    <p class="d-flex align-items-center">地址：<a href="https://goo.gl/maps/WYSri1a3moSYiidg7">臺東縣臺東市中華路4段999巷600號</a></p>
                                    <p class="d-flex align-items-center">電話：<a href="tel:089-362011">089-362011</a></p>
                                    <p class="text-text">
                                        領養開放時間：<br>週二至週六：上午10:00~12:00，下午14:00~16:00
                                    </p>
                                    <div class="btn-group mt-auto d-flex">
                                        <button class="btn btn-secondary p-3 flex-fill me-1 fw-medium">看看其他收容所</button>
                                        <button class="btn btn-primary p-3 flex-fill ms-1 fw-medium border-2 border-inputBdr-dark">尋找心願貓咪</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14720.929026721993!2d121.09066154735682!3d22.719607163012775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346fb814c871a059%3A0x478be79883a37aac!2z6Ie65p2x57ij5rWB5rWq5YuV54mp5pS25a655Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1692878862588!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer border-0 mx-auto p-3">
                              <button type="button" class="btn btn-secondary text-title fw-medium" data-bs-dismiss="modal">上一頁</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-xl-4 mb-7 mb-lg-11">
                    <div class="card border-inputBdr-dark border-2 p-4">
                        <div class="indexPic"></div>
                        <div class="card-body px-0 px-lg-2 px-xxl-4">
                          <h2 class="card-title fs-5 fs-lg-5 fw-medium fs-xl-4 text-title mb-4 mb-lg-9 position-relative">
                            澎湖動物收容中心
                            <span class="material-symbols-outlined position-absolute end-0 top-50 translate-middle favor">
                                favorite
                            </span>
                        </h2>
                            <a target="_blank" href="https://goo.gl/maps/qUXBdFp2SNfFtUB69" title="澎湖動物收容中心" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    location_on
                                </span>
                                澎湖縣馬公市烏崁里260、261號
                            </a>
                            <a target="_blank" href="tel:0287913254" title="tell:06-9213559" class="d-flex align-items-center text-text mb-4">
                                <span class="material-symbols-outlined me-1 text-primary">
                                    phone_in_talk
                                </span>
                                06-9213559
                            </a>
                        </div>
                        <div class="card-footer p-0 border-0">
                            <button class="btn btn-secondary fw-medium w-75 mx-auto text-title py-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#item6" type="button">
                                更多資訊
                                <img src="../assets/images/icon/icon_arrow.svg" alt="arrow icon" class="arrowBtn ms-11">
                            </button>
                        </div>
                    </div>
                    <div class="modal fade six" id="item6" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                          <div class="modal-content">
                            <div class="modal-body row flex-lg-row">
                                <div class="col-12 col-lg-6 d-flex flex-column mb-7 mb-lg-0">
                                    <div class="pic">
                                        <img class="w-100 mainPic mb-4" src="../assets/images/shelter/6/1.png" alt="">
                                        <div class="d-flex justify-content-between mb-7 mb-lg-7 group1">
                                            <img class="picItem1" src="../assets/images/shelter/6/1.png" alt="">
                                            <img class="picItem2" src="../assets/images/shelter/6/2.png" alt="">
                                            <img class="picItem3" src="../assets/images/shelter/6/3.png" alt="">
                                            <img class="picItem4" src="https://fakeimg.pl/541x300/?retina=1&text=準備中&font=noto" alt="">
                                        </div>
                                    </div>
                                    <h3 class="text-title fs-5 fw-medium fs-lg-6 fs-xl-4 mb-lg-4">澎湖動物收容中心</h3>
                                    <p class="text-text mb-lg-7">
                                        希望能將對牠的愛延續下去，因此創建這個寵物送領養的平台，冀望能藉由這個平台讓更多的浪浪能擁有一個家，讓有意願領養動物的人都可以輕鬆的找到願意接納的寵物。目前我們傾向不收費用盡已所能的運作方向，但為了維持網站運作會放置 Google 廣告，尚請見諒。 另外，也歡迎相關公益團體或法人與我們聯絡提案合作，我們願意盡量支持與配合。
                                    </p>
                                    <p class="d-flex align-items-center">地址：<a href="https://goo.gl/maps/qUXBdFp2SNfFtUB69">澎湖縣馬公市烏崁里260、261號</a></p>
                                    <p class="d-flex align-items-center">電話：<a href="tel:06-9213559">06-9213559</a></p>
                                    <p class="text-text">
                                        領養開放時間：<br>週二至週六：上午10:00~12:00，下午14:00~16:00
                                    </p>
                                    <div class="btn-group mt-auto d-flex">
                                        <button class="btn btn-secondary p-3 flex-fill me-1 fw-medium">看看其他收容所</button>
                                        <button class="btn btn-primary p-3 flex-fill ms-1 fw-medium border-2 border-inputBdr-dark">尋找心願貓咪</button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14629.81594613039!2d119.61686124773105!3d23.552133131209274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346c454100000001%3A0xc9ee1d79f950d348!2z5r6O5rmW57ij5rWB5rWq5YuV54mp5pS25a655Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1692878931787!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer border-0 mx-auto p-3">
                              <button type="button" class="btn btn-secondary text-title fw-medium" data-bs-dismiss="modal">上一頁</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 col-sm-6 col-md-5 col-xl-3">
                    <nav aria-label="Page navigation" class="pagination d-flex justify-content-center pt-16">
                        <ul class="pagination mb-0 w-100 d-flex justify-content-around">
                          <li class="page-item">
                            <a class="page-link bg-secondary btn-secondary fs-lg-6 fw-medium m-0 backPage" href="#" aria-label="Previous">
                                <i class="fa-solid fa-arrow-left text-text"></i>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link text-text bg-secondary btn-secondary fs-lg-6 fw-medium m-0 pageMark paginationActive" href="#">1</a></li>
                          <li class="page-item"><a class="page-link text-text bg-secondary btn-secondary fs-lg-6 fw-medium m-0 pageMark" href="#">2</a></li>
                          <li class="page-item"><a class="page-link text-text bg-secondary btn-secondary fs-lg-6 fw-medium m-0 pageMark" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link bg-secondary btn-secondary fs-lg-6 fw-medium m-0 nextPage" href="#" aria-label="Next">
                                <i class="fa-solid fa-arrow-right text-text"></i>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </main>
    


    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
    <!-- own js -->
    <script type="module" src="../assets/js/shelter.js"></script>
</body>
</html>