<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>搜趣找貓-提供各地收容所、貓咪資料以及認養服務的貓咪專屬平台</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 帶我回家內容 -->
    <main class="takeFilter mt-7">

      <!-- 收容所介紹區塊 -->
      <section class="container mb-19 mb-lg-21 mt-9 mt-md-13">
        <div class="row justify-content-center gy-4 gx-lg-16">
          <div class="col-md-7 col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper shelter_big mb-4">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/1.png" class="img-fluid w-100 object-fit-cover" style="height:350px;"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/2.png" class="img-fluid w-100 object-fit-cover" style="height:350px;"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/3.png" class="img-fluid w-100 object-fit-cover" style="height:350px;"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/4.jpg" class="img-fluid w-100 object-fit-cover" style="height:350px;"/>
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper shelter_sm">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/1.png" class="img-fluid w-100 object-fit-cover" style="height:100px;"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/2.png" class="img-fluid w-100 object-fit-cover" style="height:100px;"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/3.png" class="img-fluid w-100 object-fit-cover" style="height:100px;"/>
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/shelter/1/4.jpg" class="img-fluid w-100 object-fit-cover" style="height:100px;"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="d-flex flex-column h-100 py-4">
              <h1 class="mb-3 mb-md-6 fs-5 fs-md-4 fs-xl-3 fw-bold lh-sm letterSpc-8 text-title">台北市動物之家</h1>
              <p class="mb-4 fw-medium letterSpc-8">台北市動物之家致力於保護流浪動物，提供安全的庇護所和優質的照顧。積極推動領養並呼籲社會關注動物福祉，致力於創造一個更友善的環境，期待您的關愛領養。</p>
              <ul>
                <li>動物救援</li>
                <li>醫療治療</li>
                <li>社區教育</li>
              </ul>
              <ul class="flex-grow-1 d-flex flex-column justify-content-end mb-0 list-unstyled">
                <li>
                  <i class="fa-solid fa-location-dot" style="width: 16px;"></i>
                  地址:
                  <a href="https://maps.google.com/?q=臺北市內湖區安美街191號" class="btn btn-outline-text p-0 border-0 font-SansTC">臺北市內湖區安美街191號</a>
                </li>
                <li>
                  <i class="fa-solid fa-phone" style="width: 16px;"></i>
                  電話:
                  <a href="tel:+(02)87913254" class="btn btn-outline-text p-0 border-0 font-SansTC">02-87913254</a>
                </li>
                <li>
                  <i class="fa-regular fa-calendar" style="width: 16px;"></i>
                  領養開放時間: 週二至週六 上午10:00~12:00，下午14:00~16:00
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      

      <section class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 gy-7">
          <div class="col">
            <div class="suggest__card d-flex flex-column p-7 border border-2 border-inputBdr-dark bg-form-bg-color h-100">
              <div class="mb-4" style="overflow: hidden;">
                <img src="../assets/images/take/fake-6.png" class="suggest__img img-fluid w-100 object-fit-cover" alt="">
              </div>
              <div class="d-flex justify-content-between align-items-center gap-2 mb-4">
                <h6 class="mb-0 fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">奶茶</h6>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-text fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-text">冬天小棉襖</span>
              </div>
              <p class="mb-4 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">台北市動物之家</p>
              <div class="d-md-flex justify-content-between align-items-center flex-wrap mb-11">
                <a href="#" class="d-flex align-items-center gap-1 mb-3 mb-md-0 text-text">
                  <img src="../assets/images/icon/heart-solid 1.svg" class="img-fluid" alt="">
                  <span class="fw-medium lg-sm letterSpc-8 font-SansTC">106</span>
                </a>
                <ul class="d-flex gap-2 mb-0 list-unstyled">
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">女孩</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">青少年貓</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">白橘貓</p>
                  </li>
                </ul>
              </div>
              <div class="mt-auto mx-auto">
                <a href="#" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                  <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">點我看更多資訊</span>
                  <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="suggest__card d-flex flex-column p-7 border border-2 border-inputBdr-dark bg-form-bg-color h-100">
              <div class="mb-4" style="overflow: hidden;">
                <img src="../assets/images/take/fake-7.png" class="suggest__img img-fluid w-100 object-fit-cover" alt="">
              </div>
              <div class="d-flex justify-content-between align-items-center gap-2 mb-4">
                <h6 class="mb-0 fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">小黑</h6>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-text fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-text">冬天小棉襖</span>
              </div>
              <p class="mb-4 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">台北市動物之家</p>
              <div class="d-md-flex justify-content-between align-items-center flex-wrap mb-11">
                <a href="#" class="d-flex align-items-center gap-1 mb-3 mb-md-0 text-text">
                  <img src="../assets/images/icon/heart-solid 1.svg" class="img-fluid" alt="">
                  <span class="fw-medium lg-sm letterSpc-8 font-SansTC">43</span>
                </a>
                <ul class="d-flex gap-2 mb-0 list-unstyled">
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">男孩</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">幼貓</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">黑貓</p>
                  </li>
                </ul>
              </div>
              <div class="mt-auto mx-auto">
                <a href="#" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                  <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">點我看更多資訊</span>
                  <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="suggest__card d-flex flex-column p-7 border border-2 border-inputBdr-dark bg-form-bg-color h-100">
              <div class="mb-4" style="overflow: hidden;">
                <img src="../assets/images/take/fake-8.png" class="suggest__img img-fluid w-100 object-fit-cover" alt="">
              </div>
              <div class="d-flex justify-content-between align-items-center gap-2 mb-4">
                <h6 class="mb-0 fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">黑黑</h6>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-text fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-text">冬天小棉襖</span>
              </div>
              <p class="mb-4 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">台北市動物之家</p>
              <div class="d-md-flex justify-content-between align-items-center flex-wrap mb-11">
                <a href="#" class="d-flex align-items-center gap-1 mb-3 mb-md-0 text-text">
                  <img src="../assets/images/icon/heart-solid 1.svg" class="img-fluid" alt="">
                  <span class="fw-medium lg-sm letterSpc-8 font-SansTC">86</span>
                </a>
                <ul class="d-flex gap-2 mb-0 list-unstyled">
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">女孩</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">熟齡貓</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">黑貓</p>
                  </li>
                </ul>
              </div>
              <div class="mt-auto mx-auto">
                <a href="#" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                  <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">點我看更多資訊</span>
                  <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="suggest__card d-flex flex-column p-7 border border-2 border-inputBdr-dark bg-form-bg-color h-100">
              <div class="mb-4" style="overflow: hidden;">
                <img src="../assets/images/img_search_1.png" class="suggest__img img-fluid w-100 object-fit-cover" alt="">
              </div>
              <div class="d-flex justify-content-between align-items-center gap-2 mb-4">
                <h6 class="mb-0 fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">小斑</h6>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-text fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-text">冬天小棉襖</span>
              </div>
              <p class="mb-4 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">台北市動物之家</p>
              <div class="d-md-flex justify-content-between align-items-center flex-wrap mb-11">
                <a href="#" class="d-flex align-items-center gap-1 mb-3 mb-md-0 text-text">
                  <img src="../assets/images/icon/heart-solid 1.svg" class="img-fluid" alt="">
                  <span class="fw-medium lg-sm letterSpc-8 font-SansTC">16</span>
                </a>
                <ul class="d-flex gap-2 mb-0 list-unstyled">
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">男孩</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">成貓</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">虎斑</p>
                  </li>
                </ul>
              </div>
              <div class="mt-auto mx-auto">
                <a href="#" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                  <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">點我看更多資訊</span>
                  <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="suggest__card d-flex flex-column p-7 border border-2 border-inputBdr-dark bg-form-bg-color h-100">
              <div class="mb-4" style="overflow: hidden;">
                <img src="../assets/images/img_search_2.png" class="suggest__img img-fluid w-100 object-fit-cover" alt="">
              </div>
              <div class="d-flex justify-content-between align-items-center gap-2 mb-4">
                <h6 class="mb-0 fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">白白</h6>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-text fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-text">冬天小棉襖</span>
              </div>
              <p class="mb-4 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">台北市動物之家</p>
              <div class="d-md-flex justify-content-between align-items-center flex-wrap mb-11">
                <a href="#" class="d-flex align-items-center gap-1 mb-3 mb-md-0 text-text">
                  <img src="../assets/images/icon/heart-solid 1.svg" class="img-fluid" alt="">
                  <span class="fw-medium lg-sm letterSpc-8 font-SansTC">20</span>
                </a>
                <ul class="d-flex gap-2 mb-0 list-unstyled">
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">女孩</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">幼貓</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">白黑貓</p>
                  </li>
                </ul>
              </div>
              <div class="mt-auto mx-auto">
                <a href="#" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                  <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">點我看更多資訊</span>
                  <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="suggest__card d-flex flex-column p-7 border border-2 border-inputBdr-dark bg-form-bg-color h-100">
              <div class="mb-4" style="overflow: hidden;">
                <img src="../assets/images/take/fake-3.png" class="suggest__img img-fluid w-100 object-fit-cover" alt="">
              </div>
              <div class="d-flex justify-content-between align-items-center gap-2 mb-4">
                <h6 class="mb-0 fs-6 fs-md-5 fw-medium lh-sm letterSpc-8 text-title">小橘</h6>
                <span class="badge py-2 px-4 rounded-pill border border-1 border-text fs-7 fs-md-9 fw-medium lh-sm letterSpc-8 text-text">冬天小棉襖</span>
              </div>
              <p class="mb-4 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">台北市動物之家</p>
              <div class="d-md-flex justify-content-between align-items-center flex-wrap mb-11">
                <a href="#" class="d-flex align-items-center gap-1 mb-3 mb-md-0 text-text">
                  <img src="../assets/images/icon/heart-solid 1.svg" class="img-fluid" alt="">
                  <span class="fw-medium lg-sm letterSpc-8 font-SansTC">57</span>
                </a>
                <ul class="d-flex gap-2 mb-0 list-unstyled">
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_gender.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">女孩</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_cat.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">成貓</p>
                  </li>
                  <li class="d-flex align-items-center gap-2">
                    <img src="../assets/images/icon/icon_paw.svg" class="img-fluid" alt="">
                    <p class="mb-0 fs-7 fs-md-9 fw-medium lh-sm letterSpc-8">橘貓</p>
                  </li>
                </ul>
              </div>
              <div class="mt-auto mx-auto">
                <a href="#" class="btn__hover btn btn-secondary d-flex align-items-center gap-11 py-3 px-4 border border-2 border-start-0 border-top-0 border-text">
                  <span class="fs-7 fw-medium lh-sm letterSpc-8 text-tertiary">點我看更多資訊</span>
                  <img src="../assets/images/icon/icon_arrow.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
    <script type="module" src="../assets/js/takeFilter.js"></script>
    <script type="module" src="../main.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  </body>
</html>